.ul-custom-merge-field
{
  text-decoration: none;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 160px;
}

.m-l-l
{
	margin-left : 20px;
}

.m-l-xs
{
	margin-left : -25px;
}

.ul-custom-scroll
{
	overflow-y: scroll;
 	height: 320px;
}

.inactive
{
	background-color: white!important;
    box-shadow: none!important;
}

.bc-w
{
background-color: white;
}

.agile>ul>li:hover
{
  background-color: #edf1f2;
  cursor: pointer;
}

.loader-gif
{
	padding-right:5px;
	opacity:0.5;
}

.m-t-m
{
	margin-top: 10px;
}

.f-r{
	float:right;
}
