<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Encoding -->
		<meta charset="utf-8">
		<!-- Responsiveness, scaling -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- IE compatibility modes -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
	</head>
	<body>

		<section class="video-hero">
			<div class="section-overlay">
				<div class="float-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 text-center">
								<img src="http://placehold.it/150x45/ffffff/000000" class="img-responsive" alt=""><br><br>
								<h1 class="light wow fadeInDown">Your app has never been cooler</h1>
								<a href="#features" class="btn">Try for free</a>
								<a href="#" class="btn btn-ghost">Get template</a>
							</div>
						</div>
					</div>
				</div>
				<div class="sticky-bottom text-center wow fadeInUp">
					<img src="http://placehold.it/1140x350/ffffff/000000" alt="" class="img-responsive" data-start="opacity: 1; margin-bottom: 0%;" data-80p="opacity: 0; margin-bottom: -15%;">
				</div>
			</div>
		</section>
	<!-- End intro / Video version -->
	<!-- Start testimonials -->
		<section class="light-bg">
			<div class="container">
				<div class="row">
	<!-- Testimonial 01 -->
					<div class="col-lg-4 divide-sm">
						<img src="http://placehold.it/150x50/ffffff/000000" alt="">
						<div class="divide-xs"></div>
						<p>I don't care that they stole my idea... I care that they don't have any of their own.</p>
						<p><small>Nikola Tesla, Serbian inventor</small></p>
					</div>
	<!-- Testimonial 02 -->
					<div class="col-lg-4 divide-sm">
						<img src="http://placehold.it/150x50/ffffff/000000" alt="">
						<div class="divide-xs"></div>
						<p>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</p>
						<p><small>Colin Powell, Statesman</small></p>
					</div>
	<!-- Testimonial 03 -->
					<div class="col-lg-4 divide-sm">
						<img src="http://placehold.it/150x50/ffffff/000000" alt="">
						<div class="divide-xs"></div>
						<p>If there is anything that a man can do well, I say let him do it. Give him a chance.</p>
						<p><small>Abraham Lincoln, President</small></p>
					</div>
				</div>
			</div>
		</section>
	<!-- End testimonials -->
	<!-- Start features -->
	<!-- Features 01 / Image left, text right -->
		<section class="white-bg" id="features">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-6">
						<div class="divide-xl"></div>
						<h2>Fully responsive</h2>
						<h3>& Ultra sharp graphics</h3>
						<p class="no-margin">Built with Bootstrap Superawesome easily and efficiently scales your project with one code base, from phones to tablets to desktops. Retina Ready, Superawesome will look beautiful on any device while serving high-resolution images to devices with retina displays. Awesome as usual.</p>
						<div class="divide-xl"></div>
					</div>
					<img src="http://placehold.it/800x400/ff6e00/ffffff" class="img-responsive img-offgrid-left" alt="">
				</div>
			</div>
		</section>
	<!-- Features 02 / Text left, image right -->
		<section class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="divide-xl"></div>
						<h2>Versatile template</h2>
						<h3>With lifetime updates</h3>
						<p class="no-margin">Superawesome is developed and designed on top of the latest technologies and techniques. Our old Superawesome is being torched in a large blaze of glory. We update Superawesome every now and then to follow trends, you can always redownload files for free and refresh your website.</p>
						<div class="divide-xl"></div>
					</div>
					<img src="http://placehold.it/800x400/2196f3/ffffff" class="img-responsive img-offgrid-right" alt="">
				</div>
			</div>
		</section>
	<!-- Features 03 / Image left, text right -->
		<section class="white-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-6">
						<div class="divide-xl"></div>
						<h2>Well documented</h2>
						<h3>Plus top-notch free support</h3>
						<p class="no-margin">Step by step customization packed in one nice document that comes with download. Saves your time so you can be dedicated to your work. Support is available free of charge to all users of our products. Get in touch, we're glad to help.</p>
						<div class="divide-xl"></div>
					</div>
					<img src="http://placehold.it/800x400/7dc800/ffffff" class="img-responsive img-offgrid-left" alt="">
				</div>
			</div>
		</section>
	<!-- End features -->
	<!-- Start gallery -->
		<section>
			<div class="container-fluid">
				<div class="row">
	<!-- Gallery item 01 / Image lightbox-->
					<div class="col-sm-3 col-xs-6 gallery-thumb">
						<a href="http://placehold.it/960x720/ffffff/000000" data-toggle="lightbox">
							<img src="http://placehold.it/640x360/edf2f5/000000" data-no-retina class="img-responsive" alt="">
						</a>
						<div class="plus"></div>
					</div>
	<!-- Gallery item 02 / Youtube lightbox-->
					<div class="col-sm-3 col-xs-6 gallery-thumb">
						<a href="https://www.youtube.com/watch?v=ngElkyQ6Rhs" data-width="960" data-toggle="lightbox">
							<img src="http://placehold.it/640x360/edf2f5/000000" data-no-retina class="img-responsive" alt="">
						</a>
						<div class="plus"></div>
					</div>
	<!-- Gallery item 03 / Vimeo lightbox-->
					<div class="col-sm-3 col-xs-6 gallery-thumb">
						<a href="https://vimeo.com/125186718" data-remote="http://player.vimeo.com/video/125186718" data-toggle="lightbox">
							<img src="http://placehold.it/640x360/edf2f5/000000" data-no-retina class="img-responsive" alt="">
						</a>
						<div class="plus"></div>
					</div>
	<!-- Gallery item 04 /Instagram, lightbox -->
					<div class="col-sm-3 col-xs-6 gallery-thumb">
						<a href="https://instagram.com/p/zfJ2BnoIsH" data-toggle="lightbox">
							<img src="http://placehold.it/640x360/edf2f5/000000" data-no-retina class="img-responsive" alt="">
						</a>
						<div class="plus"></div>
					</div>
				</div>
			</div>
		</section>
	<!-- End gallery -->
	<!-- Start call-to-action -->
		<section class="cta skrollable skrollable-between" data-bottom-top="background-position: 50% -50px;" data-top-bottom="background-position: 50% 0px;">
			<div class="section-overlay"></div>
			<div class="container">
				<div class="row divide-xl">
					<div class="col-xs-12">
						<div class="media">
							<div class="media-body media-middle">
								<h3 class="no-margin light">New Superawesome is now available for download</h3>
							</div>
							<div class="media-right media-middle">
								<a href="http://themeforest.net/item/superawesome-retina-bootstrap-3-app-landing-page/3597882?ref=awerest" class="btn btn-ghost no-margin">Get it</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End call-to-action -->
	<!-- Start pricing -->
		<section>
			<div class="container">
				<div class="divide-xs"></div>
				<div class="row">
	<!-- Pricing item 01 -->
					<div class="col-sm-4 divide-sm">
						<div class="pricing-table light-bg text-center">
							<h3>Small business</h3>
							<h1><sup><sub><sub>$</sub></sub></sup> 11</h1>
							<p>/ year per user</p>
						</div>
					</div>
	<!-- Pricing item 02 -->
					<div class="col-sm-4 divide-sm">
						<div class="pricing-table light-bg text-center">
							<h3>Agency</h3>
							<h1><sub><sup>$</sup></sub> 18</h1>
							<p>/ year per team</p>
						</div>
					</div>
	<!-- Pricing item 03 -->
					<div class="col-sm-4 divide-sm">
						<div class="pricing-table light-bg text-center">
							<h3>Enterprise</h3>
							<h1><sup><sub><sub>$</sub></sub></sup> 42</h1>
							<p>/ year for unlimited</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End pricing -->
	<!-- Start footer -->
		<footer>
			<div class="container">
				<div class="divide-xs"></div>
				<hr>
				<div class="row text-center">
					<div class="col-sm-12 divide-sm">
						<img src="http://placehold.it/150x45/edf2f5/000000" class="img-responsive" alt="">
					</div>
					<div class="col-sm-12">
						<a href="#">Terms </a> 
						<a href="#">Privacy </a> 
						<a href="#">Purchase</a>
					</div>
					<div class="col-sm-12 divide-xs">
						<p><small>Copyright 2015 Awerest Inc. All rights reserved.</small></p>
					</div>
				</div>
			</div>
		</footer>
	<!-- End footer -->
	</body>
</html>