body, .h1, .h2, .h3, .h4, .h5,.h6  {
  font-family: "Maison Neue" !important;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #78909c;
  background-color: #f4f8f9;
}
body, * {
  font-family: 'Maison Neue', sans-serif;
}

.btn-default {
    color: #fff!important;
}
.navbar-brand i, .navbar-brand span {
  vertical-align: middle;
}
#fat-menu .dropdown-menu a[href="#user-prefs"] {
    line-height: inherit;
}

#portlets .panel-heading {
  border-bottom: none!important;
}

.portlet_header h4 span {
  color: #263238!important;
}

.bg-transparent {
  background: transparent!important;
}
.navbar-brand {
  font-size: inherit;
}
.navbar-brand.font-bold {
  font-weight: 500;
}
.navi .font-bold{
 font-weight: 500; 
}
#bulk-action-btns .btn {
  background-color: rgba(17, 160, 248, 0.1);
  color: #11a0f8!important;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

#bulk-action-btns .btn:hover, #bulk-action-btns .btn:focus, #bulk-action-btns .btn:active {
    background-color: rgba(17, 160, 248, 0.2);
    color: #11a0f8!important;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#bulk-action-btns {
  background-color: #fff!important;
}
table td a {
  color: #263238;; 
}
.bg-light {
  background-color: inherit!important;
}
.btn.dropdown-toggle span{
  color: #58666e!important;
}
.btn-group>.btn-group:last-child>.btn:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
  .btn-group>.btn-group:first-child>.btn:last-child, .btn-group>.btn-group:first-child>.dropdown-toggle{ 
   border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
select.form-control{
  height:40px;
  color: #263238;
  background-color: #f4f8f9; 
  background-image: inherit;
  border:inherit;
  border-radius: 4px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAFCAMAAABhCnz1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUAAACQpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK4AAAC2Bow0AAAAEXRSTlMABBEIP/xbd6Vs/psDZO2RAdB8gx8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAALklEQVQI12NgZAIDZgZsgEUQDFjZsMqygyU5GLFKMnByCQpy8zDgALx8/AJYJQBxVwFxjZWV0AAAAABJRU5ErkJggg==');
}
.agile-new-theme .form-control.input-group-addon
{
  height:40px;
  color: #263238;
  background-color: #f4f8f9; 
  background-image: ;
  border:inherit;
  border-radius: 4px;
  background-image: none;
  border: 0px;
}
.agile-new-theme .form-control.input-group-addon span{
      margin-left: -15px!important;
}
.agile-new-theme .form-control
{
  height:40px;
  border: 0px;
  background-color: #f4f8f9;
}
.b-b {
  border-bottom: none;
}
.dropdown-menu .b-b{
  border-bottom: 1px solid #dee5e7;
}

.wrapper-md {
  padding-bottom: 15px
}
.app:before {
  background: #f4f8f9;
}

.i-switch input[type="checkbox"] {
  position: absolute;
}

.i-checks input {
  opacity: inherit;
}

.i-checks-sm>i {
  display: none;
}

.i-checks {
  padding-left: inherit;
}

.tab-container {
  overflow: hidden;
  padding: 0 20px;
  width: 100%;
  background-color: #e7eef0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px 4px 0 0;
}

.tab-container .nav-tabs {
  white-space: nowrap;
  border: none;
}
.tab-container .nav-tabs li {
  display: inline-block;
  float: none;
  margin: 0 5px;
}
.tab-container .nav-tabs li:first-child {
  margin-left: 0;
}
.tab-container .nav-tabs li:last-child {
  margin-right: 0;
}
.tab-container .nav-tabs li a {
  border: none;
  border-bottom: 3px solid transparent;
  padding: 20px 5px 17px 5px !important;
  color: #78909c;
}
.tab-container .nav-tabs li:hover{
  background-color: #e7eef0 !important;
}
.tab-container .nav-tabs li a:hover {
  color: #7460ee;
  border-bottom: 3px solid rgba(116, 96, 238, 0.12) !important;
  background-color: #e7eef0 !important;
}
.tab-container .nav-tabs li.active a {
  background-color: transparent !important;
  color: #7460ee;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #7460ee !important;
}
.nav-tabs-scroll.nav-tabs-scroll-style1 .nav-tabs-scroll-controls {
  background-color: #e7eef0;
  padding: 12px 15px;
  white-space: nowrap;
  border-radius: 0 4px 0 0;
}
#contactDetailsTab>li>a{
  margin-right: inherit;
}
#contacts-inner-tabs #next, #contacts-inner-tabs #prev {
      padding: 20px 15px;
}
label.i-checks {
  margin: 5px 0px;
}
label.i-checks input{
  margin-right: 8px;
}

#dashlet_heading .btn-group .btn.btn-sm {
  height: inherit;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5!important;
}

.agile-new-theme div.cc-emails-st
{
  border: 0px;
} 
.bg-white a, button.show-search-dropdown {
  color: #11a0f8;
}
.agile-new-theme .btn-addon.btn-sm i
{
      margin: 0px;
      vertical-align: baseline; 
}
.agile-new-theme .btn-addon i{
 float: none;
 border-right:0px;
}
:not("#bulk-action-btns") .agile-new-theme .btn.dropdown-toggle span
{
 color: #fff!important;
}
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active{
  color: #ffffff!important;
  background-color: #067dc6;
  text-decoration: none;
  outline: 0 !important;
}
.agile-new-theme #automation-video , .agile-new-theme .help-video{
  line-height: 41px!important;
}
.bg-white a:hover {
    color: #067dc6;
}

.dropdown-menu a[href="#user-prefs"] span {
  display: block;
}
#contacts-view-options .contacts-view, #chrome-extensions{
  background-color: #fff !important;
  color: #78909c !important;
}

#contacts-view-options .contacts-view:hover, #contacts-view-options .contacts-view:focus, #contacts-view-options .contacts-view:active, #chrome-extensions:hover, #chrome-extensions:focus, #chrome-extensions:active{
  background-color: #fff !important;
  color: #11a0f8 !important;
}
.pull-right .btn.dropdown-toggle span {
  color: #fff !important;
}
#lhs-contact-filter-form a#lhs-filters-header{
  color: #263238 !important;
}
#clear-lhs-contact-filters, #clear-lhs-company-filters{
  color: #11a0f8 !important;
}
#clear-lhs-contact-filters:hover, #clear-lhs-contact-filters:active, #clear-lhs-contact-filters:focus, #clear-lhs-company-filters:hover, #clear-lhs-company-filters:active, #clear-lhs-company-filters:focus{
  color: #067dc6 !important;
}
#lhs-contact-filter-form a#addBtn{
  color: #11a0f8 !important;
}
#lhs-contact-filter-form a#addBtn:hover, #lhs-contact-filter-form a#addBtn:active, #lhs-contact-filter-form a#addBtn:focus{
  color: #067dc6 !important;
}
#lhs-contact-filter-form i#removeBtn{
  color: #78909c !important;
  opacity: 0.6 !important;
}
#lhs-contact-filter-form i#removeBtn:hover, #lhs-contact-filter-form i#removeBtn:active, #lhs-contact-filter-form i#removeBtn:focus{
  opacity: 1 !important;
}
.agile-new-theme .wrapper-md h1, .h1, .agile-new-theme .wrapper-md h2, .h2, .agile-new-theme .wrapper-md h3, .h3, .agile-new-theme .wrapper-md h4, .h4, .agile-new-theme .wrapper-md h5, .h5, .agile-new-theme .wrapper-md h6, .h6{
  color: #11a0f8 !important;
  font-weight: 400 !important;
}
.agile-new-theme h1, .h1, .agile-new-theme h2, .h2, .agile-new-theme h3, .h3, .agile-new-theme h4, .h4, .agile-new-theme h5, .h5, .agile-new-theme h6, .h6{
  color: #263238;
}
.agile-new-theme h1, .h1, .agile-new-theme h2, .h2, .agile-new-theme h3, .h3,{
  font-weight: 400;
}
.agile-new-theme h1, .h1{
  font-size: 28px;
}
.agile-new-theme h2, .h2{
  font-size: 28px;
}
.agile-new-theme h3, .h3{
  font-size: 24px;
}
.agile-new-theme h4, .h4{
  font-size: 14px;
}
.agile-new-theme h5, .h5{
  font-size: 13px;
}
.agile-new-theme h6, .h6{
  font-size: 125px;
} 
#contact-sorter .sort-field-txt{
  color: #263238 !important;
}
#contact-sorter .fa-sort-desc{
  position: relative  !important;
  color: #58666e!important;
  font-size: 13px !important;
}
#filter-list .btn.btn-sm{
  padding: 0px !important;
}
#filter-list .btn.btn-sm span{
  color: #58666e!important;
}

#contact-sorter .btn.btn-sm{
  padding: 0px !important;
}
#contact-sorter .btn.btn-sm:nth-child(2){
  height: 35px !important;
  margin-left: 5px !important;
} 
#tagslist .panel{
  border: none !important;
  box-shadow: none !important;
}
#tagslist .panel-body{
  padding: 10px 15px !important;
}
#contacts-lhs-filters-toggle, #companies-lhs-filters-toggle{
  border-right: 0px !important;
}
.app-content-body{
  background-color: #f4f8f9 !important;
}
#right-pane>div{
  border-bottom: none !important;
}
.contacts-div #bulk-action-btns{
  border-right: none !important;
}
.table-list-view-top-margin .panel{
  border: none !important;
}
.table-list-view-top-margin{
  margin-top: 20px !important;
}
table thead tr{
  background-color: #f4f8f9 !important;
}
table>tbody>tr>td{
   border-top: none !important;
   padding: 10px !important;
}
table>tbody>tr{
  border-top: 10px solid #f4f8f9 !important;
  background-color: #fff !important;
}
table>thead>tr>th{
  padding: 10px 15px 15px 15px !important;
  border-top: none !important;
  border-bottom: none !important;
  text-transform: uppercase !important;
  color: #78909c !important;
  font-size: 12px !important;
}
.img-inital{
  border-radius: 50% !important;
  height: 42px!important;
  width: 42px!important;
}
.table-striped>tbody>tr:nth-child(odd)>td{
  background-color: #fff !important;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th, .table-striped>tbody>tr:hover>td, .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th, .table-striped>tbody>tr:hover>td{
  background-color: rgba(17, 160, 248, 0.1) !important;
}
.img-inital , .agile-img img ,.upload_pic ,.thumb img , .thumb-xs img{
  border-radius:50%!important;
}
table label.i-checks{
  margin-left: 8px !important;
}
#chrome-extensions, #contacts-view-options{
  margin-right: 10px;
}
.tag{ 
  margin: 3px 2px !important;
  line-height: 1px;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-color: inherit;
  vertical-align: middle;
  padding: 4px 6px;
  background-color: #f4f8f9!important;
  color: #78909c!important;
  border-radius: 3px;
}
.tag:hover{
  color: #78909c!important;
  background-color: #f4f8f9!important;
}
.tag a{
  color: #78909c!important;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tag a.close, .tag.btn-primary .close{
  vertical-align: middle;
  color: #90a4ae !important;
}
.tag a.close:hover {
  color: #000000!important;
}
ul.tags-management li.tag{
  line-height: inherit;
}

.hbox .col.b-r{
  border-right: none;
}
.hbox .col.b-l{
  border-left: none;
}
.tabListCenter .btn-default, .companytabListCenter .btn-default, .dealsTabListCenter .btn-default, .taskListDetails .btn-default{
    background-color: rgba(17, 160, 248, 0.1);
    color: #11a0f8!important;
}
.tabListCenter .btn-default:hover, .companytabListCenter .btn-default, .dealsTabListCenter .btn-default, .taskListDetails .btn-default{
    background-color: rgba(17, 160, 248, 0.2);
    color: #11a0f8!important;
}
.agile-add-icon{
  margin-right: 10px;
  font-size: 22px;
}
#documents_collection_container .panel-heading{
  display: none !important;
}
#documents_collection_container .panel{
  border: none !important;
}
#documents_collection_container .panel-footer{
  border-top: 10px solid #f4f8f9 !important;
}
#documents-top-view .wrapper-md{
  padding-bottom: 0px !important;
}
#task-list-based-condition .panel-heading label:first-child{
  padding-left: 0px !important;
}
#task-list-based-condition .panel, .panel-heading{
  border: none !important;
}

/*header and navbar styles*/

@media (min-width:768px){
.agile-new-theme .navbar-collapse, .agile-new-theme .app-content, .agile-new-theme .app-footer {
    margin-left: 239px;
}
.agile-new-theme .app-aside-fixed .app-header .navbar-header{height: 70px; line-height: 70px; border-right: 1px solid #e7eef0;}
.agile-new-theme .app-aside, .agile-new-theme .navbar-header, .agile-new-theme .app-aside .fixedicons{width: 239px;}
.agile-new-theme .navbar-nav>li>a{padding-top: 25px; padding-bottom: 25px;}
.agile-new-theme .app-aside-folded .app-aside, .agile-new-theme .app-aside-folded .navbar-header, .agile-new-theme .app-aside-folded .app-aside .fixedicons{width: 60px;}
.agile-new-theme .app-aside-fixed.app-aside-folded .app-aside.aside-menu-fixed{top: 70px;}
.agile-new-theme #aside{border-right: 1px solid #e7eef0;}
.agile-new-theme .app-aside-folded .navbar-collapse, .agile-new-theme .app-aside-folded .app-content, .agile-new-theme .app-aside-folded .app-footer {
    margin-left: 60px;
}
.app-aside-folded:not(.app-aside-dock) .navi #agile-sales-menu-navigation-container a span{
  padding-top: 0;
}
.agile-new-theme .app-aside-folded:not(.app-aside-dock) .navi ul li .sales-nav:hover span{
  padding-top:25% !important; 
}

}/*medis 768 end*/

.agile-new-theme #navbar{box-shadow: inherit; height: 70px !important;}
.agile-new-theme .app-header-fixed{padding-top: 70px;}
.agile-new-theme .navbar-brand{line-height: 70px;}
.agile-new-theme #app-aside-folded{top: 18px !important}
.agile-new-theme .navbar-searchicon{padding: 25px 15px;}
.agile-new-theme .grid-icon-header {
    color: #11a0f8!important;
    padding-bottom: 25px;
    padding-top: 25px;
}
.agile-new-theme .navbar-brand i {
    display: inline-block;
    color: #7460ee;
    font-size: 20px;
}
.agile-new-theme .navbar-brand span{
    display: inline-block;
    color: #263238;
    vertical-align: middle;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}
.agile-new-theme .navbar-brand{transition: inherit; -webkit-transition: inherit;}
.agile-new-theme .free_plan_alert{top: 80px; width:440px; font-size: 12px; padding-top: 8px; padding-bottom: 8px;}
a i, a span{vertical-align: inherit;}

.agile-new-theme .app-aside-folded:not(.app-aside-dock) .navi>ul>li>a{width: auto;}
.agile-new-theme .agile-menu-dropdown-aside{padding-top: 0px !important}
.agile-new-theme .navi ul.nav li a{padding-top:12px; padding-bottom: 12px; color:#78909c;}
.agile-new-theme .nav>li>a:hover, .agile-new-theme .nav>li>a:focus{color: #11a0f8 !important; background-color: #f5fbff;}
.agile-new-theme .navi ul.nav li a{border-left: 3px solid transparent;}
/*.agile-new-theme .navi ul.nav li.agile-menuactive ul.nav-sub li.agile-menuactive a{color: #11a0f8; background-color: #e7f6ff; border-left: 3px solid rgb(17, 160, 248);}*/
.agile-new-theme .bg-white .agile-menuactive>a.agile-menu-parent-item{color: #11a0f8; background-color: #e7f6ff; border-left: 3px solid rgb(17, 160, 248);}
.agile-new-theme .bg-white .agile-menuactive>a{color: #11a0f8 !important;}
.agile-new-theme .app-aside-folded .navi>ul>li>a{padding:0px !important;}
/*header and navbar styles end*/
.app-content-full{
  top: 70px!important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default
{
  color: #ffffff!important;
  background-color: #067dc6;
  text-decoration: none;
  outline: 0 !important;
}
.pull-left .btn , .sort-field-txt {
  color:#58666e;
}
.agile-new-theme .btn.bg-light{
    color: #ffffff!important;
    background-color: #067dc6!important;
    text-decoration: none;
    outline: 0 !important;
}
#automation-video{margin-right: 15px !important;}
#document-list thead tr th:first-child .i-checks input{ margin-left: -15px;}
#document-list thead tr th:first-child label.i-checks{margin: 0;}

