body, .h1, .h2, .h3, .h4, .h5,.h6  {
  font-family: "Maison Neue" !important;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #78909c;
  background-color: #f4f8f9;
}
body, * {
  font-family: 'Maison Neue', sans-serif;
}

.btn-default {
    color: #fff!important;
}
.navbar-brand i, .navbar-brand span {
  vertical-align: inherit;
}
#fat-menu .dropdown-menu a[href="#user-prefs"] {
    line-height: inherit;
}

#portlets .panel-heading {
  border-bottom: none!important;
}

.portlet_header h4 span {
  color: #263238!important;
}

.bg-transparent {
  background: transparent!important;
}
.navbar-brand {
  font-size: inherit;
}
.navbar-brand.font-bold {
  font-weight: 500;
}
.navi .font-bold{
 font-weight: 500; 
}
#bulk-action-btns .btn {
  background-color: rgba(17, 160, 248, 0.1);
  color: #11a0f8!important;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

#bulk-action-btns .btn:hover, #bulk-action-btns .btn:focus, #bulk-action-btns .btn:active {
    background-color: rgba(17, 160, 248, 0.2);
    color: #11a0f8!important;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#bulk-action-btns {
  background-color: #fff!important;
}
table td a {
  color: #263238;; 
}
.bg-light {
  background-color: inherit!important;
}
.btn.dropdown-toggle span{
  color: #58666e!important;
}
.btn-group>.btn-group:last-child>.btn:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
  .btn-group>.btn-group:first-child>.btn:last-child, .btn-group>.btn-group:first-child>.dropdown-toggle{ 
   border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
select.form-control{
  height:40px;
  color: #263238;
  background-color: #f4f8f9; 
  background-image: inherit;
  border:inherit;
  border-radius: 4px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAFCAMAAABhCnz1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUAAACQpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK6QpK4AAAC2Bow0AAAAEXRSTlMABBEIP/xbd6Vs/psDZO2RAdB8gx8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAALklEQVQI12NgZAIDZgZsgEUQDFjZsMqygyU5GLFKMnByCQpy8zDgALx8/AJYJQBxVwFxjZWV0AAAAABJRU5ErkJggg==');
}
.agile-new-theme .form-control.input-group-addon
{
  height:40px;
  color: #263238;
  background-color: #f4f8f9; 
  background-image: ;
  border:inherit;
  border-radius: 4px;
  background-image: none;
  border: 0px;
}
.agile-new-theme .form-control.input-group-addon span{
      margin-left: -15px!important;
}
.agile-new-theme .form-control
{
  height:40px;
  border: 0px;
  background-color: #f4f8f9;
}
.b-b {
  border-bottom: none;
}
.dropdown-menu .b-b{
  border-bottom: 1px solid #dee5e7;
}

.wrapper-md {
  padding-bottom: 15px
}
.app:before {
  background: #f4f8f9;
}

.i-switch input[type="checkbox"] {
  position: absolute;
}

.i-checks input {
  opacity: inherit;
}

.i-checks-sm>i {
  display: none;
}

.i-checks {
  padding-left: inherit;
}

.tab-container {
  overflow: hidden;
  padding: 0 20px;
  width: 100%;
  background-color: #e7eef0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px 4px 0 0;
}

.tab-container .nav-tabs {
  white-space: nowrap;
  border: none;
}
.tab-container .nav-tabs li {
  display: inline-block;
  float: none;
  margin: 0 5px;
}
.tab-container .nav-tabs li:first-child {
  margin-left: 0;
}
.tab-container .nav-tabs li:last-child {
  margin-right: 0;
}
.tab-container .nav-tabs li a {
  border: none;
  border-bottom: 3px solid transparent;
  padding: 20px 5px 17px 5px !important;
  color: #78909c;
}
.tab-container .nav-tabs li:hover{
  background-color: #e7eef0 !important;
}
.tab-container .nav-tabs li a:hover {
  color: #7460ee;
  border-bottom: 3px solid rgba(116, 96, 238, 0.12) !important;
  background-color: #e7eef0 !important;
}
.tab-container .nav-tabs li.active a {
  background-color: transparent !important;
  color: #7460ee;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #7460ee !important;
}
.nav-tabs-scroll.nav-tabs-scroll-style1 .nav-tabs-scroll-controls {
  background-color: #e7eef0;
  padding: 12px 15px;
  white-space: nowrap;
  border-radius: 0 4px 0 0;
}
#contactDetailsTab>li>a{
  margin-right: inherit;
}
#contacts-inner-tabs #next, #contacts-inner-tabs #prev {
      padding: 20px 15px;
}
label.i-checks {
  margin: 5px 0px;
}
label.i-checks input{
  margin-right: 8px;
}

#dashlet_heading .btn-group .btn.btn-sm {
  height: inherit;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5!important;
}

.agile-new-theme div.cc-emails-st
{
  border: 0px;
} 
.bg-white a, button.show-search-dropdown {
  color: #11a0f8;
}
.agile-new-theme .btn-addon.btn-sm i
{
      margin: 0px;
      vertical-align: baseline; 
}
.agile-new-theme .btn-addon i{
 float: none;
 border-right:0px;
}
:not("#bulk-action-btns") .agile-new-theme .btn.dropdown-toggle span
{
 color: #fff!important;
}
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active{
  color: #ffffff!important;
  background-color: #067dc6;
  text-decoration: none;
  outline: 0 !important;
}
.agile-new-theme #automation-video , .agile-new-theme .help-video{
  line-height: 41px!important;
}
.bg-white a:hover {
    color: #067dc6;
}

.dropdown-menu a[href="#user-prefs"] span {
  display: block;
}
#contacts-view-options .contacts-view, #chrome-extensions{
  background-color: #fff !important;
  color: #78909c !important;
}

#contacts-view-options .contacts-view:hover, #contacts-view-options .contacts-view:focus, #contacts-view-options .contacts-view:active, #chrome-extensions:hover, #chrome-extensions:focus, #chrome-extensions:active{
  background-color: #fff !important;
  color: #11a0f8 !important;
}
#view-list .btn.dropdown-toggle span {
  color: #fff !important;
}
#lhs-contact-filter-form a#lhs-filters-header{
  color: #263238 !important;
}
#clear-lhs-contact-filters, #clear-lhs-company-filters{
  color: #11a0f8 !important;
}
#clear-lhs-contact-filters:hover, #clear-lhs-contact-filters:active, #clear-lhs-contact-filters:focus, #clear-lhs-company-filters:hover, #clear-lhs-company-filters:active, #clear-lhs-company-filters:focus{
  color: #067dc6 !important;
}
#lhs-contact-filter-form a#addBtn{
  color: #11a0f8 !important;
}
#lhs-contact-filter-form a#addBtn:hover, #lhs-contact-filter-form a#addBtn:active, #lhs-contact-filter-form a#addBtn:focus{
  color: #067dc6 !important;
}
#lhs-contact-filter-form i#removeBtn{
  color: #78909c !important;
  opacity: 0.6 !important;
}
#lhs-contact-filter-form i#removeBtn:hover, #lhs-contact-filter-form i#removeBtn:active, #lhs-contact-filter-form i#removeBtn:focus{
  opacity: 1 !important;
}
#contacts-title h3, #companies-title h3{
  font-weight: 400 !important;
  color: #7460ee !important;
  font-size: 28px !important;
  font-style: normal !important;
} 
#contact-sorter .sort-field-txt{
  color: #263238 !important;
}
#contact-sorter .fa-sort-desc{
  position: relative  !important;
  color: #58666e!important;
  font-size: 13px !important;
}
#filter-list .btn.btn-sm{
  padding: 0px !important;
}
#filter-list .btn.btn-sm span{
  color: #58666e!important;
}

#contact-sorter .btn.btn-sm{
  padding: 0px !important;
}
#contact-sorter .btn.btn-sm:nth-child(2){
  height: 35px !important;
  margin-left: 5px !important;
} 
#tagslist .panel{
  border: none !important;
  box-shadow: none !important;
}
#tagslist .panel-body{
  padding: 10px 15px !important;
}
#contacts-lhs-filters-toggle, #companies-lhs-filters-toggle{
  border-right: 0px !important;
}
.app-content-body{
  background-color: #f4f8f9 !important;
}
#right-pane>div{
  border-bottom: none !important;
}
.contacts-div #bulk-action-btns{
  border-right: none !important;
}
#contacts-list-view #contacts-table.panel, #companies-list-view #companies.panel{
  border: none !important;
}
#contacts-list-view, #companies-list-view{
  margin-top: 20px !important;
}
#contacts-table thead tr, #companies thead tr{
  background-color: #f4f8f9 !important;
}
#contacts-list-view .table>tbody>tr>td, #companies-list-view .table>tbody>tr>td{
   border-top: none !important;
   padding: 10px !important;
}
#contacts-list-view .table>tbody>tr, #companies-list-view .table>tbody>tr{
  border-top: 10px solid #f4f8f9 !important;
  background-color: #fff !important;
}
#contacts-list-view .table>thead>tr>th, #companies-list-view .table>thead>tr>th{
  padding: 10px 15px 15px 15px !important;
  border-top: none !important;
  border-bottom: none !important;
}
#contacts-list-view .table>thead>tr>th, #companies-list-view .table>thead>tr>th{
  text-transform: uppercase !important;
  color: #78909c !important;
  font-size: 12px !important;
}
#contacts-list-view-model-list .img-inital, #companies-list-view-model-list .img-inital{
  border-radius: 50% !important;
  height: 42px!important;
  width: 42px!important;
}
#contacts-list-view .table-striped>tbody>tr:nth-child(odd)>td, #companies-list-view .table-striped>tbody>tr:nth-child(odd)>td{
  background-color: #fff !important;
}
#contacts-list-view .table-hover>tbody>tr:hover>td, #contacts-list-view .table-hover>tbody>tr:hover>th, #contacts-list-view .table-striped>tbody>tr:hover>td, #companies-list-view .table-hover>tbody>tr:hover>td, #companies-list-view .table-hover>tbody>tr:hover>th, #companies-list-view .table-striped>tbody>tr:hover>td{
  background-color: rgba(17, 160, 248, 0.1) !important;
}
.img-inital , .agile-img img ,.upload_pic ,.thumb img , .thumb-xs img{
  border-radius:50%!important;
}
table label.i-checks{
  margin-left: 8px !important;
}
#chrome-extensions{
  margin-right: 10px;
}
.tag{ 
  margin: 3px 2px !important;
  line-height: 1px;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-color: inherit;
  vertical-align: middle;
  padding: 4px 6px;
  background-color: #f4f8f9!important;
  color: #78909c!important;
  border-radius: 3px;
}
.tag:hover{
  color: #78909c!important;
  background-color: #f4f8f9!important;
}
.tag a{
  color: #78909c!important;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tag a.close, .tag.btn-primary .close{
  vertical-align: middle;
  color: #90a4ae !important;
}
.tag a.close:hover {
  color: #000000!important;
}
ul.tags-management li.tag{
  line-height: inherit;
}
