**/.project
**/.classpath
**/.settings
.gitignore
util/*

agile-java-server/build.properties
agile-calendar/.classpath
agile-java-server/.classpath
agile-frontend/.classpath
agile-normal-bulk/.classpath
agile-campaigns-bulk/.classpath
agile-campaigns-normal/.classpath

*/.classpath

war/WEB-INF
war/js-all-min.js
war/tpl.js
war/yui.js
war/settings.js
war/admin-settings.js
*.bak
*.orig
util/*
.externalToolBuilders
bin
war/continue.js
.google_apis
*.DS_Store
/war/jscore/min
/war/tpl/min
war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
war/WEB-INF/appengine-web.xml
war/WEB-INF/web.xml
war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
war/WEB-INF/appengine-web.xml
war/WEB-INF/web.xml
war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
war/WEB-INF/appengine-web.xml
war/WEB-INF/web.xml



