<!-- Text input-->
<div class="agile-group<% if(required) {%> required-control<% } %>">
  <label class="agile-label" for="<%= id %>"><%= label %></label>
  <div class="<%= inputsize %> agile-field">
	<input id="<%= id %>" name="<%= agilefield %>" type="text" <%if(agilefield&&agilefield=='email'){%>pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"<%}%> placeholder="<%= placeholder %>" class="<%= inputheight %>" <% if(required) {%> required <% } %> />
  </div>
  <div class="agile-custom-clear"></div>
</div>