<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link id="main-sheet" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body class="" id="">

    <!-- Fixed navbar -->
    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>Pratt</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a>
                    </li>
                    <li><a href="#desc">Description</a>
                    </li>
                    <li><a href="#showcase">Showcase</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>


    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Welcome To <b>Pratt</b></h1>
                    <h3>Show your product with this handsome theme.</h3>
                    <br>
                </div>

                <div class="col-lg-2">
                    <h5>Amazing Results</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <img class="hidden-xs hidden-sm hidden-md" src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/arrow1.png">
                </div>
                <div class="col-lg-8">
                    <img class="img-responsive" src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/app-bg.png" alt="">
                </div>
                <div class="col-lg-2">
                    <br>
                    <img class="hidden-xs hidden-sm hidden-md" src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/arrow2.png">
                    <h5>Awesome Design</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <!--/ .container -->
    </div>
    <!--/ #headerwrap -->


    <section id="desc" name="desc"></section>
    <!-- INTRO WRAP -->
    <div id="intro">
        <div class="container">
            <div class="row centered">
                <h1>Designed To Excel</h1>
                <br>
                <br>
                <div class="col-lg-4">
                    <img src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/intro01.png" alt="">
                    <h3>Community</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-lg-4">
                    <img src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/intro02.png" alt="">
                    <h3>Schedule</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-lg-4">
                    <img src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/intro03.png" alt="">
                    <h3>Monitoring</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <br>
            <hr>
        </div>
        <!--/ .container -->
    </div>
    <!--/ #introwrap -->

    <!-- FEATURES WRAP -->
    <div id="features">
        <div class="container">
            <div class="row">
                <h1 class="centered">What's New?</h1>
                <br>
                <br>
                <div class="col-lg-6 centered">
                    <img class="centered" src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/mobile.png" alt="">
                </div>

                <div class="col-lg-6">
                    <h3>Some Features</h3>
                    <br>
                    <h4>First Class Design</h4>
                   <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                   
                   <h4>Second Class Design</h4>
                   <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                   
                   <h4>Third Class Design</h4>
                   <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <!--/ .container -->
    </div>
    <!--/ #features -->


    <section id="showcase" name="showcase"></section>
    <div id="showcase">
        <div class="container">
            <div class="row">
                <h1 class="centered">Some Screenshots</h1>
                <br>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="item active">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/pratt/img/item-01.png" alt="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        <!-- /container -->
    </div>


    <section id="contact" name="contact"></section>
    <div id="footerwrap">
        <div class="container">
            <div class="col-lg-5">
                <h3>Address</h3>
                <p>
                    Av. Greenville 987,
                    <br>New York,
                    <br>90873
                    <br>United States
                </p>
            </div>

            <div class="col-lg-7">
                <h3>Drop Us A Line</h3>
                <br>
                <form role="form" action="#" method="post" enctype="plain" id="agile-form">
                    <div style="display: none; height: 0px; width: 0px;">
                        <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
                        <input type="hidden" id="_agile_form_id_tags" name="tags" value="lpform">
                    </div>
                    <div class="form-group">
                        <label for="first_name">Your Name</label>
                        <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label>Your Text</label>
                        <textarea class="form-control" name="note" id="note" rows="3" required></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-large btn-success">SUBMIT</button><span id="agile-error-msg"></span>
                </form>
            </div>
        </div>
    </div>
    <div id="c">
        <div class="container">
            <p>Created by Company</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>