
/* ************* Social Suite CSS ***************** */
.RTuserlist-modal,.app-content>ul,.app-content>li,.tweet-body>ul,.tweet-body>li,.tweet-actions>ul,.tweet-actions>li,.tweet-footer>ul,.tweet-footer>li
	{
	padding: 0 !important;
	margin: 0 !important;
}

.RTuserlist-modal,.app-content>ul,.tweet-body>ul,.tweet-actions>ul,.tweet-footer>ul
	{
	list-style: none !important
}

.app-content>small,.tweet-body>small {
	font-size: 0.8571rem
}
.column-content
{
	background:#fff;
}
.app-content {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0px 0px 15px 0px;
}

.scroll-v-app-content {
	overflow-y: scroll;
	height: 700px;
} /*if height:500px then only scroll bar is shown  */
.scroll-v {
	overflow-y: auto;
	height: 452px;
}

.columns {
	box-sizing: border-box;
	height: 100%;
	overflow: visible;
	margin: 0px 0px 0px 0px;
}

.column {
	height: 510px;
	margin: 0px 30px 25px 0px !important;
	background-color: #fcfcfc;
	font-size: 1rem;
	white-space: normal;
	overflow: hidden;
	position: relative;
	/*border: 1px solid #a1a1a1;*/
	border: 1px solid #ddd;
	border-radius: 4px;
}
ul li.column:nth-child(3n)
{
	margin-right:0px!important;
}
.column:focus {
	outline: -webkit-focus-ring-color auto 5px;
}

.column-header {
	box-sizing: border-box;
	position: relative;
	height: 55px;
	padding: 0 10px;
	padding-top: 2px;
	color: #444;
	background-color: #eee;
	line-height: 50px;
	border-bottom: 1px solid #ddd
}

.margin-hs {
	margin-left: 5px !important;
	margin-right: 2px !important;
}

.column-title {
	margin-right: 35px;
	font-size: 17px;
	font-weight: normal;
	padding: 5px;
}

.column-title .attribution {
	font-weight: normal;
	font-size: 0.7571rem
}

.txt-ellipsis {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.time-ellipsis {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.txt-mute {
	color: #888
}

.txt-small {
	font-size: 12px;} /* 0.8571rem */
.txt-sub-antialiased {
	-webkit-font-smoothing: subpixel-antialiased
}
/* ********************************************************* */

/* stream header icons */
.column-header-link {
	position: absolute;
	top: 33px;
	bottom: -1px;
	right: 12px;
	color: #888;
	font-size: 10px
}

.column-header-link i {
	line-height: 1;
	font-size: 13px
}

.compose-status {
	float: right;
	padding-top: 1px;
	margin-right: 3px;
}

.social-type-icon {
	float: right;
	position: relative;
	bottom: 12px;
}

.stream-type-icon {
	float: right;
	position: relative;
	bottom: 12px;
	margin-right: -6px;
}

.waiting-symbol {
	float: right;
	position: relative;
	bottom: 14px;
	margin-right: 3px;
}

.mentions-small-title {
	position: relative;
	right: 3px;
	font-size: initial !important;
	bottom: 13px;
}

/* user's profile img in header */
.user-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 8px;
	margin-left: -4px;
}

/* column index*/
.column-index {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 1;
	font-size: 10px !important;
}

/* column header actions */
.header-action {
	visibility: hidden;
}

.column-header:hover .header-action {
	visibility: visible;
}

.header-action:hover,.header-action:focus,.header-action:active,.header-action.is-selected
	{
	color: #111;
	text-decoration: none
}

/* article */
.stream-item {
	border-bottom: 1px solid #e5e5e5;
	font-size: 0.8rem;
}

.is-actionable {
	cursor: pointer
}

/* *** */
.item-box {
	position: relative;
	padding: 4px 6px
}

/* tweet */
.tweet {
	padding-left: 58px;
	line-height: 1.28578em;
	word-break: break-word;
	word-wrap: break-word
}

.tweet {
	display: block
}

.tweet:before,.tweet:after {
	display: block;
	content: " "
}

.tweet:after {
	clear: both
}

.tweet:hover .tweet-actions,.is-selected-tweet .tweet-actions {
	visibility: visible !important;
}

/*img with tweet*/
.obj-left {
	float: left;
	margin-right: 10px;
}

.item-img {
	width: 40px;
}

.tweet-img {
	margin-left: -58px;
}

.tweet-avatar {
	margin-top: 2px;
	margin-bottom: 2px;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 8px;
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

/*user name and @ screen name with tweet*/
.account-link {
	max-width: 100%;
	color: #444
}

.account-link .username {
	direction: ltr;
	font-size: 0.7571rem;
	unicode-bidi: embed
}

.account-inline {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	max-width: 100%
}

.account-inline .fullname,.account-inline .username {
	line-height: 1
}

.account-inline.is-protected {
	padding-right: 18px
}

.account-inline .icon-protected {
	position: absolute;
	right: 0;
	font-size: 16px
}

.link-complex:hover,.link-complex:focus,.link-complex:active {
	text-decoration: none
}

.link-complex:hover .link-complex-target,.link-complex:focus .link-complex-target,.link-complex:active .link-complex-target
	{
	text-decoration: underline
}

.block {
	display: block !important
}

/* tweet text */
.tweet-text {
	white-space: pre-line;
	margin: -1.4em 0 9px 0;
	word-wrap: break-word;
	word-break: normal;
} /*with-linebreaks */

/* *** */
.tweet-footer {
	margin-top: -7px
}

.cf {
	display: block
}

.cf:before,.cf:after {
	display: block;
	content: " "
}

.cf:after {
	clear: both
}

.show-retweet:hover {
	color: black;
}

/* tweet actions */
.tweet-actions {
	visibility: hidden !important;
	float: right !important
}

.stream-item:hover .tweet-actions {
	visibility: visible !important;
	margin-top: 0px !important;
}

.tweet-actions>li {
	float: left !important;
	margin: 0 0 0 7px !important;
}

/* tweet action */
.tweet-action {
	display: block !important;
	color: #888 !important
}

.tweet-action:hover,.tweet-action:focus,.tweet-action:active,.tweet-action.is-selected
	{
	color: #111 !important;
	text-decoration: none !important;
	background-color: white !important
}

.tweet-action .icon {
	display: block !important;
	font-size: 1em !important;
	line-height: 15px !important;
	height: 15px !important;
	width: 15px !important;
}

/* icon */
.icon {
	display: inline-block;
	vertical-align: baseline;
	font-size: 1em;
	height: 1em;
	width: 1em
}

.is-vishidden,.is-narrow-columns .is-vishidden-narrow {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

.position-rel {
	position: relative
}

/* footer */
.sprite {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	vertical-align: text-top;
	background-image: url(../img/socialsuite/bg.png);
	background-repeat: no-repeat
}

@media ( -webkit-min-device-pixel-ratio : 1.5) , ( min-resolution :
	144dpi) {
	.sprite {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		background-image: url(../img/socialsuite/bg.png);
		background-size: 240px 90px;
		background-repeat: no-repeat
	}
}

.tweet-dogear {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 24px;
	height: 24px
}

/* Track */
#socialsuite-streams-model-list ::-webkit-scrollbar-track,#RTuser_list ::-webkit-scrollbar-track
	{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
#socialsuite-streams-model-list ::-webkit-scrollbar,#RTuser_list ::-webkit-scrollbar
	{
	width: 7px;
	margin-right: 4px !important;
}

#socialsuite-streams-model-list ::-webkit-scrollbar-thumb,#RTuser_list ::-webkit-scrollbar-thumb
	{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(185, 182, 182, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* stream type selected button*/
.stream-type-button-color {
	background-color: #bbb;
}

/* add stream form buttons */
.stream-type>a,.network-type>a {
	text-decoration: none;
}

.network-type-icon {
	margin-bottom: 20px;
}

/* on add stream form padding*/
.stream-details>div>.row-fluid {
	padding-top: 10px;
}

#account_description {
	padding-top: 0px;
}

.social-stream-types>.row-fluid {
	padding-top: 10px;
}

/* stream type div */
.stream-type {
	padding: 15px 8px 10px 8px;
	border: 1px solid #d2d2d2;
	width: 70px;
	cursor: pointer;
	font-size: 12px;
	float: right;
}

.social-stream-types {
	padding-right: 20px;
}

/* Stream type description */
.description-hidden,.keyword-hidden {
	visibility: hidden;
}

#stream_description_label {
	padding-top: 10px;
	margin-bottom: 0px;
	margin-left: 26px;
}

/* searck keyword */
#search_stream_keyword {
	padding-top: 15px;
	padding-left: 29%;
}

/* Add Stream Form*/
.at-center {
	text-align: center;
}

.font15 {
	font-size: 15px;
}

#twitter_option,#linkedin_option {
	padding: 8% 5% 5%;
	border: 1px solid #d2d2d2;
	width: 55px;
	height: 58px;
}

#twitter_option:hover,#linkedin_option:hover {
	background-color: #EDEDED;
}

#addStreamModal>.modal-body {
	padding: 0 0 0 0;
	max-height: 460px;
}

#addStreamModal {
	width: 500px;
}

.at-center>hr {
	margin: 10px 0;
}

#account_description_label {
	padding-top: 30px;
}

#twitter_profile_img_url {
	visibility: hidden;
	width: 1px;
	height: 1px;
}

.mentions-big-title {
	font-size: xx-large;
}

#twitter_profile_img {
	width: 55px;
	height: 50px;
	border-radius: 8px;
	margin-top: -6px;
}

.no-tweet,.stream-notifications {
	/* border-bottom: 1px solid #e5e5e5; */
	background-color: #fff;
	font-size: 15px;
	text-align: center;
}

.no-tweet>p,.stream-notifications>p {
	/*padding-top: 6px;*/
	margin: 0px;
border-bottom: 1px solid #e5e5e5;
padding: 6px 0 6px 0;
	background:lightyellow;
	}

#addStreamModal:focus {
	outline-style: none;
}

.stream-notifications {
	cursor: pointer;
}

/* Elements on add contact form */
.network-handle {
	padding-left: 20px;
	display: none;
}

.socialsuite-network-handle {
	padding-left: 20px;
	display: block;
}

.after-img-load-show {
	padding-left: 90px;
	margin-top: -56px;
	display: block;
}

.after-img-load-hide {
	padding-left: 90px;
	margin-top: -56px;
	display: none;
}

.add-form-input {
	width: 139px;
}

/* Elements on add compose tweet form */
#socialsuite_twitter_messageForm {
	margin: 0 0 0 0;
}

.tweet-scheduling {
	cursor: pointer;
	width: 30px;
	margin-bottom: 5px;
	margin-top: -6px;
	text-align: center;
	padding-top: 5px;
}

.tweet-scheduling-active {
	background-color: #EDEDED;
}

.width-65 {
	width: 65px;
}

.width-150 {
	width: 150px;
}

/* RT user list modal */
.RTuserlist-modal {
	background-color: ghostwhite;
	overflow-y: scroll;
	max-height: 250px;
}
/* ********************************************************* */
