
/* ************* Task UI (Trello) CSS ***************** */
#taskForm {
	margin: 0px 0px 0px 0px;
}

#activityModal>.modal-body {
	max-height: 453px;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

#activityModal>.for-description {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.ui-sortable-placeholder {
	border: 3px dashed #aaa;
	min-height: 50px;
	background: #ccc;
}

.list-area-wrapper {
	font: 14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 12px;
}

.list-area {
	box-sizing: border-box;
	font-size: 0;
	line-height: 0;
	overflow: auto;
	padding-bottom: 10px;
	white-space: nowrap;
	width: 100%;
}

.list-area::-webkit-scrollbar {
	height: 12px;
}

.list-area::-webkit-scrollbar-track {
	background: #d0d0d0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.list-area::-webkit-scrollbar-thumb {
	background: #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.list {
	background: #dbdbdb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	margin-left: 10px;
	padding: 32px 7px 40px;
	position: relative;
	width: 240px;
	vertical-align: top;
	white-space: normal;
}

.list:first-child {
	margin-left: 0;
}

.list-header {
	font-size: 15px;
	font-weight: bold;
	padding: 7px 9px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.list-tasks {
	box-sizing: border-box;
	overflow: auto;
	margin-right: -4px;
	max-height: 400px;
}

.list-tasks::-webkit-scrollbar {
	width: 9px;
}

.list-tasks::-webkit-scrollbar-track {
	background: #d0d0d0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.list-tasks::-webkit-scrollbar-thumb {
	background: #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.list-bottom {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	color: #939393;
	cursor: pointer;
	padding: 7px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.list-bottom:hover {
	background: #c3c3c3;
	color: #000;
	text-decoration: underline;
}

.listed-task {
	background: #fff;
	border-bottom: 1px solid #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	min-height: 30px;
	padding: 8px 50px 4px 8px;
	position: relative;
	margin: 5px 4px 0 0;
}

.listed-task:after {
	/* background: yellow; */
	content: ' ';
	display: block;
	height: 3px;
	position: absolute;
	left: 8px;
	top: 0;
	width: 50px;
}

.listed-task.yellow:after {
	background: yellow;
}

.listed-task.red:after {
	background: red;
}

.listed-task:first-child {
	margin-top: 0;
}

.listed-task:hover {
	background: #f2f2f2;
}

.task-subject {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 2px;
}

.task-related-to {
	color: #1f1f8e;
}

.task-due-time {
	color: #888;
	font-size: 12px;
	line-height: 16px;
	float: left;
	padding-bottom: 2px;
}

.task-type {
	background: #800080;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	padding: 2px 4px 2px 4px;
	position: absolute;
	right: 5px;
	top: 4px;
	text-align: center;
}

.task-owner {
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	position: absolute;
	right: 5px;
	top: 25px;
}

.shift-up {
	top: 3px;
}

.task-body {
	padding-bottom: 15px;
	min-height: 52px;
}

.task-body-category {
	min-height: 30px;
}

.task-body-owner {
	min-height: 20px;
}

.task-footer {
	min-height: 10px;
	position: absolute;
	bottom: 0;
	width: 97%;
}

.task-actions {
	float: right;
}

.task-model-list {
	min-height: 50px;
}

.task-left {
	width: 70%;
}

.task-actions {
	color: #888;
	display: none;
	padding-right: 4px;
}

.priority-btn {
	width: 14px;
}

.status-btn {
	padding: 2px 5px 2px 5px;
	width: 14px;
	text-align: center;
	cursor: pointer;
	margin-left: 4px;
	margin-right: 18px;
}

.progress-slider {
	margin-left: 1 px;
	cursor: pointer;
	width: 103%;
	margin-top: 6 px;
	display: none;
}

.task-add-note {
	color: navy;
	margin-top: -21px;
	margin-right: -10px;
	cursor: pointer;
}
/* .task-actions:hover,.task-actions:focus {display: block;} */
/* ********************************************************* */


/** add to cart **/
.cat-addtocart-out {
	position: relative;
	margin-bottom: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*border-radius: 5px;
	border: 1px solid #fc9851;
	
	background: #FA782D;*/
	font-size: 30px;
	line-height: 40px;
	padding: 4px 10px;
	color: #fff;
}

.cat-addtocart-out:hover {
	/*
	background: #fcb343; 
	*/
	
}

.cat-addtocart:hover,input.democheckbox {
	cursor: pointer;
}

.cat-addtocart-out .djc_addtocart_button_v {
	border-right: 1px solid #fdc178;
	margin: 0 25px 0 0;
	padding: 0 30px 0 10px;
	font-style: normal !important;
	color: #fff;
	float: left;
	width: 75px;
}

.cat-addtocart-out .djc_addtocart_link {
	color: #fff;
}

.cat-addtocart-out a:hover {
	color: #fff;
	text-decoration: none;
}

div.djc_addtocart_box {
	padding: 0 0 10px 0;
}

div.row1 div.djc_addtocart_box {
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}

div.cat-addtocart-row.row1,div.cat-addtocart-row.row2 {
	border-bottom: 1px dotted #D9D9D9;
	margin: 0 0 10px 0;
}

div.cat-addtocart-row.row1 span,div.cat-addtocart-row.row2 span {
	float: right;
}

#djc_additionallink {
	border-top: 1px dotted #D9D9D9;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}

#djc_additionallink span,#djc_additionallink a:hover {
	color: #000;
}
