@CHARSET "ISO-8859-1";

.bg-c-58666e{
	color: #58666e !important;
}

.grp-btn-cpy-email{
	position: absolute;
    right: 16px;
    top: 1px;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.cursor-default{
	cursor: default !important;
}

.cursor-pointer{
	cursor: pointer !important;
}

#ticket-last-notes {
	display: none;
	position: absolute;
	width: 450px;
	max-height: 200px;
	min-height: 100px;
	top: 60px;
	left: 25%;
	background-color: white;
	z-index: 10;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	overflow-y: hidden;
	text-overflow: ellipsis;
	cursor: default !important;
	pointer-events: none;
}

#recent-reply-notes {
	display: -webkit-box;
	height: 110px;
	margin: 0 auto;
	line-height: 1.5;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
}

.last-notes-drp-dwn {
	overflow: hidden;
	max-height: 135px;
}

.div-max-width {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-word;
}

.cc_emails_st{
	border: none;
	width: 9em !important;
}

.boder-btm-dot{
	border-bottom: 2px dotted red;
}

.v-inherit{
  vertical-align: inherit !important;
}

.border-bottom-width{
	border-bottom-width: 1px !important;
}

.width50{
	width: 50%;
}

ul[name=cc_emails] li a.close, #ticket-tags-ul li a.close{
	font-size: 15px;
    padding-top: 1px;
    opacity: 1;
}

table.ticket-details-table > tbody > tr > td:first-child{
	/*text-align: right;*/
    /*padding-right: 20px;*/
    color: #98a6ad !important;
    width: 50%;
}

.timeline_entity .thumb-sm img {
	height: 30px;
    width: 30px;
}

.txt-11{
	font-size: 11px;
}

.link-color{
	color: #337ab7 !important;
}