<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;line-height: 21px;color: #000000;">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="95f5341e-ab5b-ba3d-0d43-24c23dd182bb" data-color="true">
<tbody>
<tr>
<td align="center" style="padding: 0px;" class="image">
<img class="" border="0" align="one_image" style="display: block; max-width: 80px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/your-logo.png" tabindex="0" width="80" height="80" data-maxwidth="640" id="859a53b0-ae54-0a7b-3a24-fa336a36a8f0">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="bcf85425-d7ee-e7d0-931a-620332c2fd0d">
<tbody>
<tr>
<td align="center" style="padding:10px 0px 10px 0px;" class="image">
<img class="" border="0" align="one_image" style="display: block; max-width: 580px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/2/2-1.png" tabindex="0" width="580" height="341" data-maxwidth="640" id="8d833f7b-145a-60ec-b505-fbd4ec56a304">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="008142d7-272d-fdf1-ed6d-886a3cc7ebac">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px;" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: left;"><span style="line-height: 22px; font-size: 14px;">We are pleased to announce that we will be webcasting basic product training webinars for everyone, every Tuesday and Friday. Users who want to attend these webinars can register themselves using the registration link given below.</span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 255, 255); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" id="c6b2e51a-0e72-2ac1-fdc4-b76fddf962a3">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(241, 116, 116); border: 15px solid rgb(241, 116, 116); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px;" class="textbuttonsimg"><span style="color:#ffffff">REGISTER HERE</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(0, 148, 175); display: table;" align="center" data-type="text-block" id="29f3c015-7ed1-e32e-9e63-d30ce7e9bbd0" data-color="true">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding: 50px 50px 5px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px;" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: center;"><span style="font-size: 24px; color: #fdf6f3;"><a style="color: #fdf6f3;" title="Mandrill to Sendgrid Transition" href="https://www.agilecrm.com/blog/mailchimp-pulled-plug-mandrill/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=newsletter-45">Mandrill to Sendgrid Transition</a></span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(0, 148, 175); display: table;" data-type="image" id="10111870-0fca-89d3-68f7-587818719fb1" data-color="true">
<tbody>
<tr>
<td align="center" style="padding: 10px 0px 15px;" class="image">
<img class="" border="0" align="one_image" style="display: block; max-width: 220px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/2/2-2.png" tabindex="0" width="220" height="120" data-maxwidth="640" id="bcde88c1-98ba-329c-d3a7-f87711f099c1">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(0, 148, 175); display: table;" align="center" data-type="text-block" id="5e2b4fef-567e-5515-41a3-6546afcc1acf" data-color="true">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px; color: rgb(253, 246, 243);" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: center;"><span style="font-size: 14px; line-height: 22px;">With Mandrill choosing to provide paid email services now, we understand that many of our users might want to move away from Mandrill to another transactional email service. We are happy to inform you that users can easily migrate to Sendgrid without hampering their routine tasks.</span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(0, 148, 175); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" id="28ccdb1f-2339-60a3-f2e2-e492522f9d47" data-color="true">
<tbody>
<tr>
<td style="padding: 15px 50px 24px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(255, 255, 255); border: 15px solid rgb(255, 255, 255); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 148, 175);" class="textbuttonsimg"><span style="color: rgb(0, 148, 175);">KNOW MORE</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" data-color="true" id="d13137e2-c27d-dc81-123b-8c7780324452">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding: 55px 50px 10px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px;" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: center;"><span style="font-size: 24px; color: #000000;"><a style="color: #000000;" title="4 Must-Have SMB Automation Functions" href="https://www.agilecrm.com/blog/4-must-smb-automations/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=newsletter-45">4 Must-Have SMB Automation Functions</a></span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" data-color="true" id="63ea3049-8ad7-09a4-8bf2-a2066a6fd5d9">
<tbody>
<tr>
<td align="center" style="padding: 10px 0px 18px;" class="image">
<img class="" border="0" align="one_image" style="display: block; max-width: 200px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/2/2-3.png" tabindex="0" width="200" height="120" data-maxwidth="640" id="9e5a64bf-b3dc-117a-8ecb-81f88a9bc917">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" data-color="true" id="219871f6-81b7-0026-1c8f-2d5450b444aa">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px; color: rgb(253, 246, 243);" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: center;"><span style="color: #000000; font-size: 14px; line-height: 22px;">As an SMB, you require simple automations that are cost-effective and provide job efficiency. Based on this, your priority is to select basic and simple automation functions that will attend to your needs easily.</span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 255, 255); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" data-color="true" id="29865e55-1178-f708-931d-c874f696a301">
<tbody>
<tr>
<td style="padding: 15px 50px 30px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(18, 175, 190); border: 15px solid rgb(18, 175, 190); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 148, 175);" class="textbuttonsimg"><span style="color: rgb(255, 255, 255);">KNOW MORE</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 231, 133); display: table;" align="center" data-type="text-block" data-color="true" id="b895e269-2b20-b7a3-685e-68875fa9e30b">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding: 55px 50px 10px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px;" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: center;"><span style="font-size: 24px; line-height: 36px; color: #000000;"><a style="color: #000000;" title="5 Cloud Services for Marketing Every SMB Should Consider" href="https://www.agilecrm.com/blog/5-cloud-services-marketing-every-smb-consider/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=newsletter-45">5 Cloud Services for Marketing Every SMB Should Consider</a></span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 231, 133); display: table;" data-type="image" data-color="true" id="af226529-27e4-f12e-a1fd-7f4fa3bdc698">
<tbody>
<tr>
<td align="center" style="padding: 10px 0px 18px;" class="image">
<img class="" border="0" align="one_image" style="display: block; max-width: 200px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/2/2-4.png" tabindex="0" width="200" height="120" data-maxwidth="640" id="c5387201-b2cc-e9ef-90c9-c28c39cae032">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 231, 133); display: table;" align="center" data-type="text-block" data-color="true" id="0026cd8f-dc84-3b7d-8e2c-ae5e92cebabf">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 300; outline: none; font-size: 12px; line-height: 16px; color: rgb(253, 246, 243);" class="textFix" helvetica="" font-size:="" line-height:="" outline:="" red="" dotted=""><div style="text-align: center;"><span style="font-size: 14px; line-height: 22px; color: #000000;">Custom-designed cloud services are the best tools any SMB can use to not only automate but also bring in efficiency in their marketing process. And now you can manage and automate specific marketing tasks using 5 such cloud services.</span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 231, 133); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" data-color="true" id="9a0fe675-1a30-4e56-17de-241fd7bc8d51">
<tbody>
<tr>
<td style="padding: 15px 50px 35px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(191, 63, 63); border: 15px solid rgb(191, 63, 63); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 148, 175);" class="textbuttonsimg"><span style="color: rgb(255, 255, 255);">KNOW MORE</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="577460a6-97de-294c-48b1-e197f5c60f3b">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 15px 50px;">
<a href="" style="border: none; text-decoration: none" class="facebook">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="" style="border: none; text-decoration: none" class="twitter">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="" style="border: none; text-decoration: none" class="linkedin">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="35" height="35">
</a>
<a href="" style="border: none; text-decoration: none; display: none;" class="youtube">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="0" height="0">
</a>
<a href="" style="border: none; text-decoration: none; display: none;" class="instagram">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/instagram.png" width="0" height="0">
</a>
<a href="" style="border: none; text-decoration: none; display: none;" class="pinterest">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/pinterest.png" width="0" height="0">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="643e07c9-33c7-b933-de84-2f25de476194">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; line-height: 16px; outline: none;" class="textFix"><div style="text-align: center;">1234 Main Street, Anywhere, MA 01234, USA</div>
<div style="text-align: center;">Copyright &copy; 2016 <a href="#">agilecrm.com</a> all rights reserved.<br><a href="{{{unsubscribe_link}}}">unsubscribe</a> | <a href="#">agilecrm.com</a> | care@agilecrm.com | +1 800 9800 729</div>
<div style="text-align: center;">&nbsp;</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>