<!DOCTYPE html>
<html>
<head>
    <title>I have a back bone</title>
</head>

<script type="text/template" id="contacts-li">
	<li><a href='#contact/<%= id %>'> View </a> <%= type %> - <%= created_time %> - <%= updated_time %> -  <span class='delete'>delete</span> <span class='duplicate'>duplicate</span></li>
</script>

<script type="text/template" id="property">
	<%= type %> - <%= name %> - <%= subtype %> - <%= value %> 
</script>


<script type="text/template" id="ms-contact">

  	<li>
		<a href='#contact/{{id}}'> View </a> <br/>
	{{type}}> - {{created_time}} - {{updated_time}} {{creator}} <br/>
 <span class='delete'>delete</span> <span class='duplicate'>duplicate</span>

  {{#each properties}}
<br/>
  {{name}} {{subtype}} {{value}}
  {{/each}}
<br/>
</li>


</script>


<body>
    <button id="add-contact">Add Friend</button>
    <ul id="contacts-list">
    </ul>
    	
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    
    <!-- Handlebars -->
    <script src="lib/handlebars-1.0.0.beta.6.js"></script>
   
   
    <script src="util.js"></script>
   
    
    <!--  Models -->
    <script src="models/contact.js"></script>
    
    <!-- Collections -->
    <script src="collections/contacts.js"></script>
    
    <!-- Views -->
    <script src="views/contactview.js"></script>
    <script src="views/contactslist.js"></script>
     
    <!-- App Router -->
    <script src="controllers/app.js"></script>
    
    
    
    
    <a href='#contacts'>View contacts</a>
    
</body>
</html>