<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-block"></div>
<label>Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(222, 222, 222);" data-type="imgtxt" id="ff576e31-b3b2-4663-01f9-2e607f66b1cd">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 5px 50px 5px 0px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="190" align="left" style="padding:5px">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/3/logo.png" style="display: block;margin: 0px;max-width: 540px;padding:10px;" id="e5876083-1d6a-fd50-b213-2fd656edcc31" width="120px" height="40px">
</td>
</tr>
<tr>
</tr></tbody>
</table>
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"><h5 style="margin-top: 5px; text-align: right;">&nbsp;<span style="color: #999999;"><a style="color: #999999; text-decoration: underline;" href="http://www.agilecrm.com" target="_blank">Home</a></span> &nbsp; &nbsp; &nbsp;<span style="color: #999999;"><a style="color: #999999; text-decoration: underline;" href="http://www.agilecrm.com" target="_blank">Features</a> </span>&nbsp; &nbsp; <span style="color: #999999;"><a style="color: #999999; text-decoration: underline;" href="http://www.agilecrm.com" target="_blank"> Contact</a></span></h5></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="image" id="95ba6c0c-b8c2-f5e3-cc5e-2da0ca2b61da">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<a target="_blank" class="imgLink" href="www.agilecrm.com"><img class="" border="0" align="one_image" style="display:block;max-width:540px" alt="" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/3/main-img.png" tabindex="0" id="6a786a7b-51c0-4c30-6182-3e0426ef9a94" width="540px" height="320px"></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="171cbd57-c95d-b0db-4b7b-afe6d6659f66">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><h4 style="text-align: justify;">Welcome To The Best Email Template For Your Campaigns</h4>
<p style="text-align: justify;"><span style="color: #999999;">Designed to convert your prospects and optimize your campaign and to get better results</span></p></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(222, 222, 222);" align="center" data-type="text-block" id="4f83a691-8560-ab77-ad6f-2ba7c9ddc894">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image+Caption</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="87fdbfc2-ff93-0650-9f0f-d1ce57e23ccf">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 0px 40px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/3/image1.png" style="display: block;margin: 0px;max-width: 340px" id="5f247300-7e96-4dae-8ec9-80268a019278" width="150px" height="126px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><h4>Profesional Layouts Ready to use</h4>
<p style="text-align: justify;"><span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac diam vel orci suscipit accumsan vitae dapibus felis ...</span></p></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="0587724d-4a3b-b867-06b2-d0d3174fe5c9">
<tbody>
<tr>
<td style="padding: 0px 70px 15px 0px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 103px; background-color: rgb(52, 152, 219);" class="button-1" href="www.agilecrm.com" data-default="1">Read more</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(222, 222, 222);" align="center" data-type="text-block" id="b3485a79-d8ec-7f19-9739-dc43b7968bda">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image+Caption</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="a727ed93-1abd-695b-0010-9e4522e1ee39">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 0px 40px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/3/image2.png" style="display: block;margin: 0px;max-width: 340px" width="150px" height="126px" id="eefb52bd-e823-1631-461d-b7c8126cb35c">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><h4>Profesional Layouts Ready to use</h4>
<p style="text-align: justify;"><span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac diam vel orci suscipit accumsan vitae dapibus felis ...</span></p></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="a7676f31-ef17-e479-0ef2-c53b9a49746a">
<tbody>
<tr>
<td style="padding: 0px 70px 15px 0px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 103px; background-color: rgb(52, 152, 219);" class="button-1" href="www.agilecrm.com" data-default="1">Read more</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(222, 222, 222);" align="center" data-type="text-block" id="9b277fea-eb9f-b5ec-2836-5a09fcf2f7f8">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image+Caption</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="e8c746bb-1a5f-a57e-fa9c-5bc117e0c44c">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 0px 40px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/3/image3.png" style="display: block;margin: 0px;max-width: 340px" width="150px" height="140px" id="b0070899-c9c7-a8ad-2e3d-fa9dbf01c88e">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><h4>Profesional Layouts Ready to use</h4>
<p style="text-align: justify;"><span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac diam vel orci suscipit accumsan vitae dapibus felis ...</span></p></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="562206cf-b90d-9f7a-23b9-642bc252aa02">
<tbody>
<tr>
<td style="padding: 0px 70px 15px 0px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 103px; background-color: rgb(52, 152, 219);" class="button-1" href="www.agilecrm.com" data-default="1">Read more</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(222, 222, 222);" align="center" data-type="text-block" id="d97ffd57-af9c-99ed-1621-d286fd4a3485">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image+Caption</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="57359c6b-a72a-a0ab-1f0e-5500635d11c2">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 0px 40px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/3/image4.png" style="display: block;margin: 0px;max-width: 340px" width="150px" height="150px" id="ce491e40-cf72-0c21-493b-518269387fb3">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><h4>Profesional Layouts Ready to use</h4>
<p style="text-align: justify;"><span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac diam vel orci suscipit accumsan vitae dapibus felis ...</span></p></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="e845b1ff-97d8-9fc8-874d-42a2786c2721">
<tbody>
<tr>
<td style="padding: 0px 70px 15px 0px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 103px; background-color: rgb(52, 152, 219);" class="button-1" href="www.agilecrm.com" data-default="1">Read more</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(222, 222, 222);" align="center" data-type="text-block" id="d036fc5e-467a-2c3a-2781-c06b8c7411f5">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"><div style="text-align: center;"><span style="color: #999999;">You are currently signed up to Company’s newsletters as:</span> <a href="mailto:contact@agilecrm.com" target="_blank">contact@agilecrm.com</a>&nbsp;<span style="color: #999999;">to unsubscribe click</span> <a href="http://www.agilecrm.com" target="_blank">here</a></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" data-type="social-links" id="fbea1f7c-cbc8-e302-17ba-378d07efec63">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 15px 50px;">
<a href="https://www.facebook.com/CRM.Agile/" style="border: none; text-decoration: none" class="facebook" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="https://twitter.com/agilecrm?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="border: none; text-decoration: none" class="twitter" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="https://www.linkedin.com/company/agile-crm" style="border: none; text-decoration: none" class="linkedin" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="35" height="35">
</a>
<a href="https://www.youtube.com/user/agilecrm" style="border: none; text-decoration: none" class="youtube" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="35" height="35">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>