

body {
	padding-top: 60px;
    padding-bottom: 40px;
}

.leaderboard {
  	margin-bottom: 30px;
}

.leaderboard h1 {
	font-size: 40px;
  	margin-bottom: 5px;
  	line-height: 1;
  	letter-spacing: -1px;
  	color:#FF6600;
}

.leaderboard p {
	font-size: 18px;
  	font-weight: 200;
  	line-height: 27px;
  	margin: 0px;
}

.nav .nav-header {
	font-size: 18px;
	color:blueviolet;
}

.map {
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

div#google_map img {
 max-width: none !important;
}

div#agilecrm-container {
	padding: 0px !important; 
}