<table style="background: #eeeeee" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td id="primary" class="main demo" align="center" valign="top" width="100%">
<div class="column ui-sortable" style="min-height:150px;">
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(212, 53, 90);" data-type="title" id="8675e6f5-2911-b93c-9fe6-fd6594315e5b">
<tbody>
<tr>
<td align="left" class="title" style="padding: 0px 50px; font-family: 'Open Sans'; color: rgb(255, 255, 255); font-size: 15px;"><h1 style="text-align: center;">Lorem ipsum!</h1>
<h4 style="text-align: center;">Lorem ipsum</h4></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-block"></div>
<label>Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="924a7153-3a88-171f-0890-6dab012c5171" class="main" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxt" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody>
<tr>
<td class="image-text" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<table class="image-in-table" style="padding:5px" align="left" width="190">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<a target="_blank" class="imgLink" href="www.agilecrm.com"><img id="731f69df-3f39-adfa-2b78-f3575655f5f6" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/4/hero1.jpg" style="display: block;margin: 0px;max-width: 540px;padding:10px;" align="left" height="210px" border="0" width="250px"></a>
</td>
</tr>
<tr>
</tr></tbody>
</table>
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: 'Open Sans'; color: rgb(0, 0, 0); font-size: 15px;" class="textFix"><h3 style="text-align: center;">Say, Hello!</h3>
<div style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="ef7f4cfd-f0ec-e8c3-2eaa-d8165630d086" class="main" style="border: 0px none; display: table; background-color: rgb(255, 255, 255);" data-type="line" align="center" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table style="border-top: 1px solid #DADFE1;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td height="15px" width="100%"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>2 Column Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="93dcf83e-9a23-9593-8a63-8372786da5dc" class="main" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="240">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;" align="center">
<a target="_blank" class="imgLink" href="www.agilecrm.com"><img class="" id="0565aabb-e33d-1948-eb60-24e877ed9805" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/4/crop5.jpg" alt="" style="display: block; border: none;" align="2" height="150px" border="0" width="200px"></a>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: medium none; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"><h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisci elit</h4></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;" align="center">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 18px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 150px; background-color: rgb(4, 18, 28);" class="textbuttonsimg" href="www.agilecrm.com">Read more</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="240">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;" align="center">
<a target="_blank" class="imgLink" href="www.agilecrm.com"><img class="" id="efdf04fc-a447-1573-ec22-2264a71f44ca" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/4/crop3.jpg" alt="" style="display: block; border: none;" align="2" height="150px" border="0" width="200px"></a>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: medium none;" class="textFix"><h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisci elit</h4></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;" align="center">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 18px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 150px; background-color: rgb(219, 53, 205);" class="textbuttonsimg" href="www.agilecrm.com">Read more</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>2 Column Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="14bf7fd1-d36c-f06b-f272-4a797e8bb666" class="main" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="240">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;" align="center">
<a target="_blank" class="imgLink" href="www.agilecrm.com"><img id="86fd0c7c-0ac1-bba0-f42a-91eb61c07c7c" class="" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/4/crop2.jpg" alt="" style="display: block; border: none;" align="2" height="150px" border="0" width="200px"></a>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: medium none; font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;" class="textFix"><h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisci elit</h4></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;" align="center">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 18px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 150px; background-color: rgb(48, 199, 91);" class="textbuttonsimg" href="www.agilecrm.com">Read more</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="240">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;" align="center">
<a target="_blank" class="imgLink" href="www.agilecrm.com"><img id="8097c1a7-ae10-1c0f-b086-ac7258f34d5a" class="" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/4/crop3.jpg" alt="" style="display: block; border: none;" align="2" height="150px" border="0" width="200px"></a>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: medium none;" class="textFix"><h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisci elit</h4></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;" align="center">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 18px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 150px; background-color: rgb(240, 163, 10);" class="textbuttonsimg" href="www.agilecrm.com">Read more</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="c0058e25-5b4b-a984-a5f3-3a2147c0a434" class="main" style="border: 0px none; display: table; background-color: rgb(255, 255, 255);" data-type="line" align="center" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table style="border-top: 1px solid #DADFE1;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td height="15px" width="100%"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="28eb4ddd-5ce2-fcd4-e0fd-e9c8ad52b7d5" class="main" style="display: table; background-color: rgb(255, 255, 255);" data-type="text-block" align="center" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody>
<tr>
<td class="block-text" data-clonable="true" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: medium none; font-family: Open Sans; color: rgb(0, 0, 0); font-size: 15px;" class="textFix"><blockquote><em>Lorem ipsum dolor sit amet, consectetur adipisci elit</em><em>Lorem ipsum dolor sit amet, consectetur adipisci elit</em></blockquote>
<blockquote><em>Lorem ipsum dolor sit amet, consectetur adipisci elitLorem ipsum dolor sit amet, consectetur adipisci elit</em></blockquote></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div style="display: block;" class="lyrow ui-draggable">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table id="61d58fbb-be3f-6981-4f26-e7fd3326a84e" class="main" style="display: table; background-color: rgb(255, 255, 255);" data-type="social-links" align="center" border="0" cellpadding="0" cellspacing="0" width="640">
<tbody>
<tr>
<td class="social" style="padding: 15px 50px 15px 50px;" align="center">
<a href="#" style="border: none; text-decoration: none" class="facebook">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" height="35" border="0" width="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="twitter">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" height="35" border="0" width="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="linkedin">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" height="35" border="0" width="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="youtube">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" height="35" border="0" width="35">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>