<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top" style="min-height: 520px;">

<div class="column ui-sortable">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="image" id="644fd683-19e2-2620-28df-944f5f302f6d">
<tbody>
<tr>
<td align="center" style="padding:15px 50px 15px 50px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:540px" alt="" src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/logo.png" tabindex="0" id="490611a0-66d7-ff3b-e9a4-82af41795bf2" width="128px" height="30px">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="title" id="bfff52dd-3dc8-52bc-05c7-fc45453c6d2f">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="font-family: Arial; border: none;" class=""><div style="text-align: center;">Your order is on its way!</div></h1>
<h4 class="" style="border: none;"></h4>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="d73e8ead-d78d-53d6-c541-9efefb68a26d">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="462d9524-00c6-a21c-503e-9b3d7849d013">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 5px 0px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px dashed #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 5px 0px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="bb41752c-946c-6ea4-8b4d-078605e7b554">
<tbody>
<tr>
<td>
<table class="main" align="center" border="0" cellpadding="0" cellspacing="0" width="640" id="bb41752c-946c-6ea4-8b4d-078605e7b554" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><p style="text-align: left;">Purchased Item (1)</p></div>
</td>
</tr>



</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><p style="text-align: right;">$XX.XX&nbsp;</p></div>
</td>
</tr>



</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="b28f1388-c590-493f-e96c-e88e013be955">
<tbody>
<tr>
<td>
<table class="main" align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="display: table;" id="b28f1388-c590-493f-e96c-e88e013be955">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><p style="text-align: left;">Shipping + Handling</p></div>
</td>
</tr>



</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><p style="text-align: right;">$X.XX&nbsp;</p></div>
</td>
</tr>



</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="80dcc6b9-1cf1-8c3a-24e2-cbb0afc59caf">
<tbody>
<tr>
<td>
<table class="main" align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="display: table;" id="80dcc6b9-1cf1-8c3a-24e2-cbb0afc59caf">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><p style="text-align: left;">Sales Tax</p></div>
</td>
</tr>



</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><p style="text-align: right;">$X.XX&nbsp;</p></div>
</td>
</tr>



</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="ac0f3557-e4b8-a5bc-ddb4-a8f0741e475e">
<tbody><tr>
<td class="divider-simple" style="padding: 0px 5px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 0px 5px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="75c058a8-2895-466a-48b6-15938b2b9469">
<tbody>
<tr>
<td>
<table class="main" align="center" border="0" cellpadding="0" cellspacing="0" width="640" id="75c058a8-2895-466a-48b6-15938b2b9469" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Total</h4></div>
</td>
</tr>



</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>

<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: right;">$XX.XX</h4></div>
</td>
</tr>


<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="a167ad16-8fdb-e1b8-74a3-ee2305203544">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 5px 0px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px dashed #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 5px 0px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="7ca1a1d5-e9cf-3d77-3375-2b2f765a828d">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><span style="color: #808080;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.</span></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="c725d3d0-1a29-ade4-172a-9fe3cbe9801a">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><h3 style="text-align: center;">How did we do?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.</p></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="5f45f0e4-f42d-7b9b-c1c7-cf8331995ed5">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(37, 111, 156);" class="button-1" href="#" data-default="1">Let Us Know</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="0b2ba891-1760-79a0-092e-a73ab97208fd">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><div style="text-align: center;">1234 Main Street, Anywhere, MA 01234, USA</div>
<div style="text-align: center;">Unsubscribe | View this email in your browser</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>