<div class="well well-small agile-one-time-setup" style="margin:0px; border-radius:0px; background-color:white; box-shadow:none; border-bottom:0px; border-left:0px; border-right:0px;">
<p>We need to associate your Google account with Agile CRM</p>
<P style="margin:0px;"><input type="btn btn-primary" value="Associate Account" onclick="agile_gadget_open_popup(); return false;" class="btn" style="padding:2px 6px 2px;">
<span id="notify_user" style="display:none; margin-left:20px; color:indianred;"><i>Please enter your domain.</i></span>
<span style="color:#98a6ad;">Don't have an account? <a href="https://www.agilecrm.com/stripe?utm_source=google-apps&utm_medium=website&utm_campaign=integration" target="_blank">Sign up</a>.</span>
</P>
</div> 