<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>OAuth2</servlet-name>
    <servlet-class>com.agilecrm.scribe.ScribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2</servlet-name>
    <url-pattern>/oauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OAuth2Servlet</servlet-name>
    <servlet-class>com.agilecrm.plugin.oauth.OAuth2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2Servlet</servlet-name>
    <url-pattern>/backend/googleservlet</url-pattern>
    <url-pattern>/backend/StripeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUtilServlet</servlet-name>
    <servlet-class>com.thirdparty.google.ContactUtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUtilServlet</servlet-name>
    <url-pattern>/backend/contactsutilservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cron</servlet-name>
    <servlet-class>com.campaignio.cron.Cron</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cron</servlet-name>
    <url-pattern>/backend/cron</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwitterCron</servlet-name>
    <servlet-class>com.campaignio.twitter.cron.TwitterCron</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterCron</servlet-name>
    <url-pattern>/backend/cron/twitter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduledUpdateCron</servlet-name>
    <servlet-class>com.socialsuite.cron.ScheduledUpdateCron</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduledUpdateCron</servlet-name>
    <url-pattern>/backend/cron/scheduledupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.agilecrm.LoginServlet</servlet-class>
  </servlet>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.use.deployment.sensitive.factory</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>com.agilecrm.core.JerseyApplication</param-value>
  </context-param>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/core</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/core/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey Developers REST Service</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/dev</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Developers REST Service</servlet-name>
    <url-pattern>/dev/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityReports</servlet-name>
    <servlet-class>com.agilecrm.reports.ActivityReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityReports</servlet-name>
    <url-pattern>/backend/cron/activity-reports/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reports</servlet-name>
    <servlet-class>com.agilecrm.reports.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/backend/cron/reports/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Triggers</servlet-name>
    <servlet-class>com.agilecrm.workflows.triggers.TriggerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Triggers</servlet-name>
    <url-pattern>/backend/cron/triggers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskReminder</servlet-name>
    <servlet-class>com.agilecrm.TaskReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskReminder</servlet-name>
    <url-pattern> /backend/cron/tasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventReminder</servlet-name>
    <servlet-class>com.agilecrm.EventReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventReminder</servlet-name>
    <url-pattern> /backend/cron/events</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FailedDomainEventReminder</servlet-name>
    <servlet-class>com.agilecrm.FailedDomainEventReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailedDomainEventReminder</servlet-name>
    <url-pattern> /backend/faileddomaineventreminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountLimitChecker</servlet-name>
    <servlet-class>com.agilecrm.subscription.limits.cron.AccountLimitCheckerCronServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountLimitChecker</servlet-name>
    <url-pattern>/backend/billing/restrictions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stripe Webhook</servlet-name>
    <servlet-class>com.agilecrm.subscription.stripe.webhooks.StripeWebhookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stripe Webhook</servlet-name>
    <url-pattern>/backend/stripewebhook/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stripe Webhook2</servlet-name>
    <servlet-class>com.agilecrm.subscription.stripe.webhooks.StripeWebhookServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stripe Webhook2</servlet-name>
    <url-pattern>/backend/stripewebhook2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mandrill Webhook</servlet-name>
    <servlet-class>com.thirdparty.mandrill.webhook.MandrillWebhook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mandrill Webhook</servlet-name>
    <url-pattern>/backend/mandrillwebhook/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwilioServlet</servlet-name>
    <servlet-class>com.agilecrm.plugin.oauth.TwilioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwilioServlet</servlet-name>
    <url-pattern>/backend/TwilioServlet</url-pattern>
    <url-pattern>/auth/TwilioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwilioVoiceServlet</servlet-name>
    <servlet-class>com.thirdparty.twilio.TwilioVoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwilioVoiceServlet</servlet-name>
    <url-pattern>/backend/voice</url-pattern>
    <url-pattern>/verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwilioIOVoiceServlet</servlet-name>
    <servlet-class>com.thirdparty.twilio.TwilioIOVoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwilioIOVoiceServlet</servlet-name>
    <url-pattern>/twilioiovoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwilioIOStatusCallBackServlet</servlet-name>
    <servlet-class>com.thirdparty.twilio.TwilioIOStatusCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwilioIOStatusCallBackServlet</servlet-name>
    <url-pattern>/twilioiostatuscallback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwilioIOTwiml</servlet-name>
    <servlet-class>com.thirdparty.twilio.TwilioIOTwiml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwilioIOTwiml</servlet-name>
    <url-pattern>/twiml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.campaignio.servlets.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/backend/click/*</url-pattern>
    <url-pattern>/click/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailOpenServlet</servlet-name>
    <servlet-class>com.campaignio.servlets.EmailOpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailOpenServlet</servlet-name>
    <url-pattern>/backend/open/*</url-pattern>
    <url-pattern>/open/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnlineLinkForEmail</servlet-name>
    <servlet-class>com.campaignio.servlets.OnlineLinkForEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineLinkForEmail</servlet-name>
    <url-pattern>/onlinelink/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ICalendarServlet</servlet-name>
    <servlet-class>com.agilecrm.ICalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ICalendarServlet</servlet-name>
    <url-pattern>/backend/ical/*</url-pattern>
    <url-pattern>/ical/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnalyticsServlet</servlet-name>
    <servlet-class>com.analytics.servlets.AnalyticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyticsServlet</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CleanBlobStore</servlet-name>
    <servlet-class>com.agilecrm.contact.upload.blob.cron.BlobDeleteCron</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanBlobStore</servlet-name>
    <url-pattern>/backend/cron/blobs-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CronPullServlet</servlet-name>
    <servlet-class>com.agilecrm.queues.cron.CronPullServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CronPullServlet</servlet-name>
    <url-pattern>/backend/cron/cron-pull/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendPullServlet</servlet-name>
    <servlet-class>com.agilecrm.queues.backend.BackendPullServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendPullServlet</servlet-name>
    <url-pattern>/backend-pull</url-pattern>
  </servlet-mapping>
	<listener>
		<listener-class>com.agilecrm.tasksHandler.AgileServletContextListener</listener-class>
	</listener>
</web-app>