<!-- Form Name -->
<legend><%= name %></legend>
<p class="agile-form-description"><%= description %></p>
<div style="display: none; height: 0px; width: 0px;">
<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="<%= name %>">
<input type="hidden" id="_agile_domain" name="_agile_domain" value="<%= agiledomain %>">
<input type="hidden" id="_agile_api" name="_agile_api" value="<%= agileapi %>">
<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="<%= agileredirecturl %>">
<input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="<%= agileconfirmationmsg %>">
<input type="hidden" id="_agile_form_id_tags" name="tags" value="<%= agileformidtag %>">
<% if(window.location.search.indexOf("?form=") == 0) %>
<input type="hidden" id="_agile_form_id" name="_agile_form_id" value="<%= window.location.search.substring(6) %>">
<%  else  %>
     <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="">
</div>