<!-- Form Name -->
<legend><%= name %></legend>
<div style="display: none; height: 0px; width: 0px;">
<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="<%= name %>">
<input type="hidden" id="_agile_domain" name="_agile_domain" value="<%= agiledomain %>">
<input type="hidden" id="_agile_api" name="_agile_api" value="<%= agileapi %>">
<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="<%= agileredirecturl %>">
<input type="hidden" id="_agile_form_id_tags" name="tags" value="<%= agileformidtag %>">
</div>