<!-- Multiple Checkboxes -->
<div class="agile-group">
  <label class="agile-label" for="<%= name %>"><%= label %></label>
  <div class="agile-field agile-field-xlarge agile-height-default"><% _.each(checkboxes, function(checkbox, i){ %>
    <div>
    <label for="<%= name+'-'+i %>">
      <input type="checkbox" name="<%if(agilefield){%><%= agilefield %><%}else{%><%= name+'-'+i %><%}%>" id="<%= name+'-'+i %>" value="<%= checkbox %>">
      <%= checkbox %>
    </label>
    </div>
    <% }); %>
  </div>
</div>
