<!-- Multiple Radios -->
<div class="agile-group">
  <label  class="agile-label" for="<%= name %>"><%= label %></label>
  <div class="agile-field agile-field-xlarge agile-height-default"><% _.each(radios, function(radio, i){ %>
  <div>
    <label for="<%= name+'-'+i %>">
      <input type="radio" name="<%if(agilefield){%><%= agilefield %><%}else{%><%= name+'-'+'0' %><%}%>" id="<%= name %>" value="<%= radio %>"  <% if (i < 1) { %> checked="checked" <% } %>>
      <%= radio %>
    </label></div><% }); %>
  </div>
</div>
