<!-- Select Multiple -->
<div class="agile-group">
  <label class="agile-label" for="<%= id %>"><%= label %></label>
  <div class="<%= inputsize %> agile-field">
    <select id="<%= id %>" name="<%if(agilefield){%><%= agilefield %><%}else{%><%= id %><%}%>" class="<%= inputheight %>" multiple="multiple" <% if(typeof required != "undefined" && required) {%> required <% } %>>
    	<option value="">Select</option><% _.each(options, function(option) { %>
    	<option value="<%= option %>"><%= option %></option><% }); %>
    </select>
  </div>
</div>
