<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top" style="min-height: 520px;">

<div class="column ui-sortable">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(45, 55, 61);" data-type="image" id="215a0740-a6ad-ee54-8df2-6b8deba3efa0">
<tbody>
<tr>
<td align="center" style="padding:15px 50px 15px 50px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:540px" alt="" src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/elena/img/logo.png" tabindex="0" id="f793d516-d790-3a7f-17e0-9258f86167f0" width="110" height="44">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(45, 55, 61);" data-type="title" id="8d75e2de-564e-a7ee-5402-d30fe18ef914">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="font-family: Arial; border: none; text-align: center; color: rgb(255, 255, 255); font-size: 36px;" class=""> Enter your Title here! </h1>
<h4 class="" style="border: none; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); font-size: 18px;">Your Subtitle</h4>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(45, 55, 61);" data-type="button" id="bca5716c-784e-24b8-3829-61b85c83ad2c">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="button-1" href="#" data-default="1">Get your copy now</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-3"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix active">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(245, 245, 245);" data-type="imgtxtincol" id="c0c8b76b-4703-87c0-e809-4f360d0a6c17">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-container" align="left" border="0" cellpadding="0" cellspacing="0" width="350">
<tbody>
<tr>
<td>
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" height="154" align="2" border="0" width="160" id="bf78334c-0755-72a3-d60e-ed8ddb79a558" class="selected-item">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""><strong>PROFESIONALS</strong><br>Lorem ipsum dolor sit amet consectetur elit.</div>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" style="display: block;" height="154" align="2" border="0" width="160" id="5831788b-e5fd-21df-c718-25a167f46d32">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""><strong>PROFESIONALS</strong><br>Lorem ipsum dolor sit amet consectetur elit.</div>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" style="display: block;" height="154" align="2" border="0" width="160" id="b4153d10-ce6b-04c6-69de-32b41e78f583">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""><strong>PROFESIONALS</strong><br>Lorem ipsum dolor sit amet consectetur elit.</div>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(245, 245, 245);" data-type="imgtxtincol" id="58ab1f05-ca8b-1242-1c15-d40c6ce18904">
<tbody>
<tr>
<td>
<table class="main" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="640" id="58ab1f05-ca8b-1242-1c15-d40c6ce18904" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" style="display: block;" height="154" align="2" border="0" width="255" id="15ac7d9a-1a22-a92a-333c-9a52c954a48c">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""><strong>RESPONSIVE EMAIL TEMPLATE</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis</div>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" style="display: block;" height="154" align="2" border="0" width="255" id="338b54ff-4dc0-ffe2-d47f-4ef7b2986309">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""><strong>RESPONSIVE EMAIL TEMPLATE</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis</div>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(245, 245, 245);" align="center" data-type="text-block" id="00fad3bf-3656-1735-85b9-11e0130aef37">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px"><span style="text-align: center;"><strong>FULL SUPPORTED TEMPLATE</strong></span><br>
This is a Text Block! Click on this text to edit it. You can add content easily by dragging content blocks from the right sidebar. Drag this and other blocks around to re-order them.<br><a href="#">Read more</a></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(245, 245, 245);" data-type="imgtxtcol" id="024fb766-b276-2528-1849-6f9743908693">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
<table class="image-in-table" width="190" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" style="display: block;margin: 0px;max-width: 340px" id="17c0d986-221c-8be0-63a2-4217cb4bee68">
</td>
</tr>
</tbody>
</table>
<table width="190">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna anim id est laborum.</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(45, 55, 61);" data-type="social-links" id="d8de2533-2994-5fd4-3088-24cdeb70d43f">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 15px 50px;">
<a href="#" style="border: none;" class="facebook">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png">
</a>
<a href="#" style="border: none;" class="twitter">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png">
</a>
<a href="#" style="border: none;" class="linkedin">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png">
</a>
<a href="#" style="border: none;" class="youtube">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody></table>