<link href="https://tejashree-dot-36-5-dot-agile-crm-cloud.appspot.com/misc/formbuilder/agile-form.css" rel="stylesheet">
<form class="form-view<%=agileformtransbg%> <%=agilethme%>" id="agile-form" action="<%= action %>"  style= "max-width:450px;" method="GET">
<fieldset>

<%= text %>
</fieldset>
</form>
<script type="text/javascript">
(function(a){var b=a.onload,p=<%=preload%>;isCaptcha=<%=captcha%>;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v4()}catch(b){this.submit()}}})(window);
</script>