<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link id="main-sheet" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body class="">

    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="ion-navicon"></i>
                </button>
                <!-- LOGO -->
                <a class="navbar-brand logo" href="index.html">
                    <i class="ion-social-buffer"></i>
                    <span>Lugada</span>
                </a>
            </div>
            <!-- end navbar-header -->

            <!-- menu -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#screenshots">Screenshots</a>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                </ul>
            </div>
            <!--/Menu -->
        </div>
        <!-- end container -->
    </div>
    <!-- End navbar -->


    <!-- HOME -->
    <section class="home bg-dark">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="home-text animated fadeInDown wow" data-wow-delay=".1s">Professional Landing Page Template</h1>
                        <h4 class="animated fadeInDown wow" data-wow-delay=".2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit.<br> Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</h4>
                        <a href="" class="btn btn-custom btn-rnd animated fadeInDown wow">Learn more</a>
                        <div class="clearfix"></div>
                        <a href="#" class="video-btn btn popup-video animated fadeInDown wow"><i class="ion-play"></i>Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->


    <!-- CLIENTS -->
    <section class="clients bg-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".1s">
                        <a href="#">
                            <img alt="01 brand" src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/clients/01_brand.png">
                        </a>
                    </div>
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".2s">
                        <a href="#">
                            <img alt="02 brand" src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/clients/02_brand.png">
                        </a>
                    </div>
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".3s">
                        <a href="#">
                            <img alt="03 brand" src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/clients/03_brand.png">
                        </a>
                    </div>
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".4s">
                        <a href="#">
                            <img alt="04 brand" src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/clients/04_brand.png">
                        </a>
                    </div>
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".5s">
                        <a href="#">
                            <img alt="05 brand" src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/clients/05_brand.png">
                        </a>
                    </div>
                    <div class="brand-item animated fadeInLeft wow" data-wow-delay=".6s">
                        <a href="#">
                            <img alt="06 brand" src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/clients/06_brand.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CLIENTS -->


    <!-- FEATURES-1 -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-1">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/features-1.png" class="img-responsive" alt="features-img">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-detail">
                        <h1 class="title animated fadeInRight wow" data-wow-delay=".1s">We are digital creative agency</h1>
                        <h4 class="animated fadeInRight wow" data-wow-delay=".3s">Constituto voluptatibus mei ex. Eum soleat</h4>
                        <p class="features-txt animated fadeInRight wow" data-wow-delay=".5s">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously been working in his mind, or rather soul; for there are two distinct sorts of ideas, those that proceed from the head and those from
                            the heart.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES-1 -->


    <!-- FEATURES-2 -->
    <section class="section padding-t-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-detail">
                        <h1 class="title animated fadeInLeft wow" data-wow-delay=".1s">We are digital creative agency</h1>
                        <h4 class="animated fadeInLeft wow" data-wow-delay=".3s">Constituto voluptatibus mei ex. Eum soleat</h4>
                        <p class="features-txt animated fadeInLeft wow" data-wow-delay=".5s">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously been working in his mind, or rather soul; for there are two distinct sorts of ideas, those that proceed from the head and those from
                            the heart.</p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="feature-1">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/features-2.png" class="img-responsive" alt="features-img">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END FEATURES-2 -->


    <!-- SERVICES -->
    <section class="section bg-gray" id="services">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Best Services</h1>
                    <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy
                        <br>text of the printing and typesetting industry.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                        <i class="ion-social-buffer"></i>
                        <div class="service-detail">
                            <h4>Strategy Solutions</h4>
                            <p>We put a lot of effort in design, as it's the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                        <i class="ion-ipad"></i>
                        <div class="service-detail">
                            <h4>Digital Design</h4>
                            <p>We put a lot of effort in design, as it's the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                        <i class="ion-wand"></i>
                        <div class="service-detail">
                            <h4>SEO</h4>
                            <p>We put a lot of effort in design, as it's the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item -->
                </div>
                <!-- /col -->
            </div>
            <!--end row -->


            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item animated fadeInLeft wow" data-wow-delay=".7s">
                        <i class="ion-coffee"></i>
                        <div class="service-detail">
                            <h4>Graphic Design</h4>
                            <p>We put a lot of effort in design, as it's the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item animated fadeInUp wow" data-wow-delay=".9s">
                        <i class="ion-stats-bars"></i>
                        <div class="service-detail">
                            <h4>Analystics</h4>
                            <p>We put a lot of effort in design, as it's the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item animated fadeInRight wow" data-wow-delay="1.1s">
                        <i class="ion-help-buoy"></i>
                        <div class="service-detail">
                            <h4>Dedicated Support</h4>
                            <p>We put a lot of effort in design, as it's the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->
        </div>
    </section>
    <!-- END SERVICES -->


    <!-- SCREENSHOTS -->
    <section class="section" id="screenshots">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Screenshots</h1>
                    <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy
                        <br>text of the printing and typesetting industry.</p>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/1.png" class="thumb preview-thumb image-popup" title="Screenshot-1">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/1.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/2.png" class="thumb preview-thumb image-popup" title="Screenshot-2">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/2.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/3.png" class="thumb preview-thumb image-popup" title="Screenshot-3">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/3.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <a href="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/4.png" class="thumb preview-thumb image-popup" title="Screenshot-4">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/4.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/5.png" class="thumb preview-thumb image-popup" title="Screenshot-5">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/5.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/6.png" class="thumb preview-thumb image-popup" title="Screenshot-6">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/screenshots/6.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- col -->
            </div>
            <!-- end row -->
        </div>
    </section>
    <!-- END SCREENSHOTS -->


    <!-- PRICING -->
    <section class="section bg-gray" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Simple Pricing</h1>
                    <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy
                        <br>text of the printing and typesetting industry.</p>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">

                        <!-- Pricing Item -->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                                <div class="pricing-item-inner">
                                    <div class="pricing-wrap">
                                        <!-- Icon (Simple-line-icons) -->
                                        <div class="pricing-icon">
                                            <i class="ion-plane"></i>
                                        </div>
                                        <!-- Pricing Title -->
                                        <div class="pricing-title">
                                            Starter Pack
                                        </div>
                                        <!-- Pricing Features -->
                                        <div class="pricing-features">
                                            <ul class="sf-list pr-list">
                                                <li>5 Projects</li>
                                                <li>1 GB Storage</li>
                                                <li>No Domain</li>
                                                <li>1 User</li>
                                                <li>Free Support</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-num">
                                            <sup>$</sup>99
                                        </div>
                                        <div class="pr-per">
                                            per month
                                        </div>
                                        <!-- Button -->
                                        <div class="pr-button">
                                            <a href="" class="btn btn-custom btn-rnd">Buy Now</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Pricing Item -->

                        <!-- Pricing Item -->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="pricing-item main animated fadeInLeft wow" data-wow-delay=".5s">
                                <div class="pricing-item-inner">
                                    <div class="pricing-wrap">
                                        <!-- Icon (Simple-line-icons) -->
                                        <div class="pricing-icon">
                                            <i class="ion-trophy"></i>
                                        </div>
                                        <!-- Pricing Title -->
                                        <div class="pricing-title">
                                            Professional Pack
                                        </div>
                                        <!-- Pricing Features -->
                                        <div class="pricing-features">
                                            <ul class="sf-list pr-list">
                                                <li>5 Projects</li>
                                                <li>1 GB Storage</li>
                                                <li>No Domain</li>
                                                <li>1 User</li>
                                                <li>Free Support</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-num">
                                            <sup>$</sup>199
                                        </div>
                                        <div class="pr-per">
                                            per month
                                        </div>
                                        <!-- Button -->
                                        <div class="pr-button">
                                            <a href="" class="btn btn-custom btn-rnd">Buy Now</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Pricing Item -->

                        <!-- Pricing Item -->
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".7s">
                                <div class="pricing-item-inner">
                                    <div class="pricing-wrap">
                                        <!-- Icon (Simple-line-icons) -->
                                        <div class="pricing-icon">
                                            <i class="ion-umbrella"></i>
                                        </div>
                                        <!-- Pricing Title -->
                                        <div class="pricing-title">
                                            Enterprise Pack
                                        </div>
                                        <!-- Pricing Features -->
                                        <div class="pricing-features">
                                            <ul class="sf-list pr-list">
                                                <li>5 Projects</li>
                                                <li>1 GB Storage</li>
                                                <li>No Domain</li>
                                                <li>1 User</li>
                                                <li>Free Support</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-num">
                                            <sup>$</sup>299
                                        </div>
                                        <div class="pr-per">
                                            per month
                                        </div>
                                        <!-- Button -->
                                        <div class="pr-button">
                                            <a href="" class="btn btn-custom btn-rnd">Buy Now</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Pricing Item -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END PRICING -->


    <!-- TESTIMONIALS -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="zoomIn animated wow" data-wow-delay=".1s">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/quote-icon.png" alt="quote">
                        <blockquote>I have been using this template for all my company needs for the last 3 years and couldn't be happier with their service and expertise. They've surpassed all of my expectations and customer service!</blockquote>
                        <div class="clientblock">
                            <img src="https://s3.amazonaws.com/agilecrm/landing/lugada/images/testi-1.jpg" alt="." class="img-circle">
                            <p><strong>Mark Wainright</strong> 
                                <br>CEO &amp; Founder of Another Great Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--END TESTIMONIALS -->


    <!-- FOOTER CTA -->
    <section class="section bg-dark footer-cta">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <h4 class="text-uppercase animated fadeInDown wow" data-wow-delay=".1s">We are Here to Help You</h4>
                    <h1 class="animated fadeInDown wow" data-wow-delay=".3s">Best Solutions for Your Business</h1>
                    <a href="" class="btn btn-custom btn-rnd animated fadeInDown wow" data-wow-delay=".5s">Get Started Now</a>
                </div>
            </div>
        </div>
    </section>

    <!-- END FOOTER CTA -->


    <!-- FOOTER -->
    <footer class="section bg-gray footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h5>Lugada</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Home</a>
                        </li>
                        <li><a href="">Features</a>
                        </li>
                        <li><a href="">About Us</a>
                        </li>
                        <li><a href="">FAQ</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Facebook</a>
                        </li>
                        <li><a href="">Twitter</a>
                        </li>
                        <li><a href="">Behance</a>
                        </li>
                        <li><a href="">Dribbble</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Help &amp; Support</a>
                        </li>
                        <li><a href="">Privacy Policy</a>
                        </li>
                        <li><a href="">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h5>Contact</h5>
                    <address>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br>
            E: <a href="mailto:lugada@lugada.com">lugada@lugada.com</a>
          </address>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-alt">
                        <p class="pull-right">2015 Lugada</p>
                        <p class="logo"><i class="ion-social-buffer"></i>Lugada</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- END FOOTER -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


</body>

</html>