<mat-toolbar color="gray">
    <span><img class="logo" src="../assets/images/logo_up.jpg"/></span>
    <mat-tab-group>
        <mat-tab label="Home">
            <a outerLink="/home"></a>
        </mat-tab>
        <mat-tab label="About"></mat-tab>
        <mat-tab label="Contact"></mat-tab>
        <mat-tab label="Services"></mat-tab>
        <mat-tab label="Health Hacks"></mat-tab>
    </mat-tab-group>

</mat-toolbar>
<mat-card>
    <img class="subHeading" src="../assets/images/imgHeading.png" />
</mat-card>