img.logo {
    width: 40%;
    height: 50%;
    opacity: 0.3;
}

img.subHeading {
    width: 50%;
    height: 200px;
    margin-left: 300px;
}


/* .mat-card img.logo {
    width: 200px !important;
    margin-left: 300px;
    text-align: center !important;
} */