<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;line-height: 21px;color: #000000;">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="98a3e520-02b0-fc43-8126-a7f68069f2bd">
<tbody>
<tr>
<td align="center" style="padding: 0px 0px 15px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/top_border_png_1476856081268.png" tabindex="0" id="7024e737-8309-a09e-50b6-533b8df267d5" width="630" height="134">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="title" id="f2067a1a-6d59-c1ef-355e-aca4f4f8fcaa">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px"><h1 style="text-align: center;"><strong>Merry Christmas</strong></h1></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="068ef9a7-a5c2-b02f-f761-bfa473adf937">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/christamas_png_1476856156195.png" tabindex="0" id="799a1712-5cb4-a5a4-7759-0b1cd97a206f" width="630" height="310">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="ee2ca527-71ae-1c7c-d7e6-620154dcc8ba">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px;border: none; " class="textFix"><div style="text-align: justify;">Get festive and join our Christmas Celebrations! Tweet about us on your social media accounts with the tag #AgileLove for your chance to be showcased to <strong>more than a million people</strong>.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="05e6bdfa-1320-e1f3-5310-32fa3780c65b">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/bottom_border_png_1476857064261.png" tabindex="0" id="dcdafd24-d96d-1fce-4f2b-759af3851978" width="630" height="210">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="11ab6b5f-5af0-5617-f364-f6aeaa078e08">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="f6b577d9-cbe0-c14d-50c8-7acdf0059368">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 15px 50px;">
<a href="#" style="border: none; text-decoration: none" class="facebook">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="twitter">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none; display: none;" class="linkedin">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="0" height="0">
</a>
<a href="#" style="border: none; text-decoration: none; display: none;" class="youtube">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="0" height="0">
</a>
<a href="#" style="border: none; text-decoration: none" class="instagram">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/instagram.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="pinterest">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/pinterest.png" width="35" height="35">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="febde3d9-cb44-ea7c-21f4-f98779bf29f7">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; border: none;" class="textFix"><div style="text-align: center;">You are receiving this email because you signed up to Agile CRM.<br><a href="{{{unsubscribe_link}}}">Unsubscribe</a> from this list.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>