<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="98a3e520-02b0-fc43-8126-a7f68069f2bd">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/canvaxmaslogo_02_png_1476348486582.png" tabindex="0" id="7024e737-8309-a09e-50b6-533b8df267d5" width="775" height="104">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="title" id="f2067a1a-6d59-c1ef-355e-aca4f4f8fcaa">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="text-align: center;">Enter your Title here!</h1>
<h4 style="text-align: center;">Your Subtitle</h4>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="title" id="f09a77c7-5448-6a59-26b6-01e8eff923ce">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px"><h1 style="text-align: center;">Show us your</h1>
<h1 style="text-align: center;">designs&nbsp;and get featured</h1></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="068ef9a7-a5c2-b02f-f761-bfa473adf937">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/christmasheader1_png_1476348856564.png" tabindex="0" id="799a1712-5cb4-a5a4-7759-0b1cd97a206f" width="640" height="210">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="ee2ca527-71ae-1c7c-d7e6-620154dcc8ba">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: Verdana; color: rgb(0, 0, 0); font-size: 15px;" class="textFix"><p style="text-align: center;">Get festive and join our Christmas competition! Upload your designs to any (or all!) of your social media accounts with the tag #createwithcanva for your chance to be showcased to <strong>more than a million people.</strong></p></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 255, 255); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" id="6a548a7c-dbdf-78bb-e3a8-9f75d88ce8fb">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(29, 240, 81); border: 15px solid rgb(29, 240, 81); font-family: sans-serif; font-size: 15px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold;" class="textbuttonsimg"><span style="color:#ffffff">Create a festive design</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="e80afdb3-058e-184f-9d6a-bd7b2751e5cc">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/christmaswithcanva2_png_1476349977436.png" tabindex="0" id="3447147b-7592-5109-c1b7-bf411b5d33f3" width="640" height="210">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="6e677ef1-1abd-a2c3-b443-095d5ef8c28c">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: Verdana; color: rgb(0, 0, 0); font-size: 15px;" class="textFix"><div style="text-align: center;">Next week, we will be promoting one design per day on each of our social media platforms. So too will our chief evangelist Guy Kawasaki. Winners announced daily from 14th &ndash; 19th December.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 255, 255); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" id="11104cc6-3b97-3042-ff52-fe98e7dad18c">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(37, 171, 22); border: 15px solid rgb(37, 171, 22); font-family: sans-serif; font-size: 15px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold;" class="textbuttonsimg"><span style="color:#ffffff">Start designing</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="05e6bdfa-1320-e1f3-5310-32fa3780c65b">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/merrychristmas2015_png_1476350638298.png" tabindex="0" id="dcdafd24-d96d-1fce-4f2b-759af3851978" width="640" height="210">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="11ab6b5f-5af0-5617-f364-f6aeaa078e08">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="f6b577d9-cbe0-c14d-50c8-7acdf0059368">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 15px 50px;">
<a href="#" style="border: none; text-decoration: none" class="facebook">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="twitter">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none; display: none;" class="linkedin">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="0" height="0">
</a>
<a href="#" style="border: none; text-decoration: none; display: none;" class="youtube">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="0" height="0">
</a>
<a href="#" style="border: none; text-decoration: none" class="instagram">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/instagram.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="pinterest">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/pinterest.png" width="35" height="35">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="febde3d9-cb44-ea7c-21f4-f98779bf29f7">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><div style="text-align: center;">You are receiving this email because you signed up to Canva. Unsubscribe from this list.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>