<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top" style="min-height: 520px;">

<div class="column ui-sortable">

<div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(245, 245, 245);" data-type="imgtxtcol" id="cbcc8517-b1f3-0d07-b3f7-e1b738243591">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 0px 10px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 0px 10px;"></td>
<td width="" style="padding: 15px 0px 10px;">
<img border="0" align="left" src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/logo_footer.png" style="display: block;margin: 0px;max-width: 340px" id="fc97eca7-9f3f-e82d-3d25-a3c693e69de2" width="20px" height="22px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 0px 10px;">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><div>Beacon. Available for everyone &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#">HOME</a>&nbsp;/ <a href="#">VIEW ONLINE</a></div></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(244, 244, 244);" data-type="image" id="1a4ffb97-6c1e-ee1b-cf58-69519fd92237">
<tbody>
<tr>
<td align="center" style="padding:15px 50px 15px 50px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:540px" alt="" src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/iphone.png" tabindex="0" id="e8617f6a-fb7a-8d79-252d-6e42769616c9" width="540px" height="311px">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(244, 244, 244);" data-type="button" id="e99c1271-12d3-cdbd-1a63-a1241cba6041">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="button-1" href="#" data-default="1">Color your life. Now $19,99</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="title" id="9c96574b-2f4e-bf88-8973-b61bc76adda5">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="text-align: center;">A minimalistic choice for all your campaigns.</h1>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="91c2ea56-5d0d-ca0e-bf9d-7b0c5bdf95ac">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 0px 0px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 0px 0px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-1"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="cecb62c9-a142-7189-6b3b-549679f4361d">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
<table width="190" align="left">
<tbody>
<tr>
<td class="text-block">
<div style="line-height: 22px; border: none;" class="textFix"><h4>Colour Your Life</h4>
This template has been written and designed with minimalistic elements and code as possible.</div>
</td>
</tr>
</tbody>
</table>
<table class="image-in-table" width="190" align="right">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<img border="0" align="left" src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/circle_2.png" style="display: block;margin: 0px;max-width: 340px" id="5003422d-d359-3872-a721-e5b55fc0e3b2" width="151px" height="150px">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="77997527-21a9-ccd9-6480-675b66c0c2ef">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Call It A Day</h4>
Cras mattis consectetur purus sit amet fermentum. Maecenas ubus mollis interdum. Nullam id dolor id nibh ultricies vehicula.</div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 120px; background-color: rgb(50, 199, 77);" class="textbuttonsimg" href="#">Click me</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>It's All Gone Cold</h4>
Cras mattis consectetur purus sit amet fermentum. Maecenas ubus mollis interdum. Nullam id dolor id nibh ultricies vehicula.</div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; width: 120px; background-color: rgb(50, 199, 77);" class="textbuttonsimg" href="#">Click me</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="e104ee6c-384f-0d8a-9cca-9e85a6484e8c">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 0px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 50px 10px 0px;"></td>
<td width="" style="padding: 15px 50px 10px 0px;">
<img border="0" align="left" src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/circle_3.png" style="display: block;margin: 0px;max-width: 340px" id="35e768de-d238-c0e9-d3f3-b97cd59743e9" width="151px" height="150px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 50px 10px 0px;">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><h4>Pick a great header</h4>
Cras mattis consectetur purus sit amet fermentum. Maecenas ubus mollis interdum. Nullam id dolor id nibh ultricies vehicula.</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(244, 244, 244);" align="center" data-type="text-block" id="e3ccd645-2e51-47c1-a7ac-27a555077dea">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><h3 style="text-align: center;">MOBILE DEVICE COMPATIBLE</h3></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(244, 244, 244);" data-type="image" id="2df07fc4-8adb-af40-f3b3-d9204ecb98f6">
<tbody>
<tr>
<td align="center" style="padding:15px 50px 15px 50px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:540px" alt="" src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/iphone.png" tabindex="0" id="136103c3-f51f-ce5a-8a1b-f25f44d0b40e" width="564px" height="311px">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-3"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="44f2fd85-601d-8035-af37-76e77176256a">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-container" align="left" border="0" cellpadding="0" cellspacing="0" width="350">
<tbody>
<tr>
<td>
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/circle_1.png" alt="" style="display: block; border: none;" height="150px" align="2" border="0" width="151px" id="2ec37415-abe3-0d79-0f48-44a5a11a680e" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Download!</h4>
<p>Cras mattis consectetur purus sit amet.</p></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(50, 199, 77);" class="textbuttonsimg" href="#">Click me</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/circle_2.png" alt="" style="display: block; border: none;" height="150px" align="2" border="0" width="151px" id="b656f994-e7c1-9f97-1ca4-5260ad2180d7" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Edit Away!</h4>
Cras mattis consectetur purus sit amet.</div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(50, 199, 77);" class="textbuttonsimg" href="#">Click me</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/circle_3.png" alt="" style="display: block; border: none;" height="150px" align="2" border="0" width="151px" id="5603eabc-5c71-df22-460a-11af867755ff" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Send or Export!</h4>
Cras mattis consectetur purus sit amet.</div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(50, 199, 77);" class="textbuttonsimg" href="#">Click me</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="3988276a-fb60-4e17-1d0a-4bc847edcaaf">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 0px 0px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 0px 0px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="e4149ee1-096d-068c-1ac0-004d36729111">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><h4 style="text-align: center;">A Payoff Should Be Clean As Possible</h4>
<div style="text-align: center;">Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam donec id elit non mi.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="0a4842d9-1212-c220-2eb8-9878606a937e">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(50, 199, 77);" class="button-1" href="#" data-default="1">Activate for free</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="04fbfd9d-e8d4-48dd-fd04-e3c375654e0f">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 0px 0px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 0px 0px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="c4be931d-5a96-18ed-9cc2-6e3790c25dae">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 0px 10px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 0px 10px;"></td>
<td width="" style="padding: 15px 0px 10px;">
<img border="0" align="left" src="http://www.stampready.net/themeforest/dashboard/templates/beacon/images/logo_footer.png" style="display: block;margin: 0px;max-width: 340px" id="fc97eca7-9f3f-e82d-3d25-a3c693e69de2" width="20px" height="22px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 0px 10px;">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><div>Beacon. Available for everyone &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#">Twitter </a>/ <a href="#">Facebook </a>/ <a href="#">Unsubscribe</a></div></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody></table>"