<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top" style="min-height: 520px;">

<div class="column ui-sortable">

<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="ec3a904e-9681-1921-fb96-255dc12d599d">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
<table class="image-in-table" width="190" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<img border="0" align="left" src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/logo.png" style="display: block;margin: 0px;max-width: 340px" id="a49b3541-d537-b648-3d98-397605a6e123" width="128px" height="30px">
</td>
</tr>
</tbody>
</table>
<table width="190">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><div style="text-align: center;">A little text up top can be nice.</div>
<div style="text-align: center;">Maybe a link to tweet?</div></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="image" id="509728d2-0c68-cfeb-9c63-7dbde03ce45f">
<tbody>
<tr>
<td align="center" style="padding: 5px 0px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:540px" alt="" src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/main-image.png" tabindex="0" id="5882d2b0-bff9-ccf4-fda8-2692c485d9c2" width="540px" height="300px">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="title" id="11e85bc7-de6f-06f1-1ec0-b869fb937de5">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="font-family: Arial; border: none;" class=""><div style="text-align: center;">Something big is coming</div></h1>
<h4 class="" style="border: none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); font-size: 18px;"><div style="text-align: center;"><span style="color: #999999;">The perfect email template</span></div></h4>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="4c449cf4-3dd3-6dd8-53d2-8e7404e76c73">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding: 10px 120px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><div style="text-align: center;"><span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisi tortor tempor lectus vel interdum posuere.</span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="0242452f-94d1-2ad6-14e5-a42f6bf174b9">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(0, 0, 0);" class="button-1" href="#" data-default="1">Download</a> 
</td>
<td style="padding: 10px 10px 10px 10px;" class="button">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="button-1" href="#" data-default="1">Read more</a> 
</td></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="637dfd6a-faea-1243-6fd2-7d42fd1f5fc7">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 0px 5px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 0px 5px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="title" id="c1a3d2e1-57f3-766e-0f76-0949f79fe2df">
<tbody>
<tr>
<td align="left" class="title" style="padding: 0px 50px 5px;">
<h1 style="font-family: Arial; border: none;" class=""><div style="text-align: center;">Our Amazing Featutres</div></h1>
<h4 class="" style="border: none;"><div style="text-align: center;">Mauris lacinia lectus</div></h4>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-3"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="b9f109f8-4bb8-dbce-db58-8c483348df88">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-container" align="left" border="0" cellpadding="0" cellspacing="0" width="350">
<tbody>
<tr>
<td>
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/feature-img1.png" alt="" style="display: block; border: none;" height="60px" align="2" border="0" width="60px" id="4a8b4739-4500-b998-624b-f149be688311" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">Clean Design</h4>
<div style="text-align: center;"><span style="color: #999999;">Lorem ipsum dolor sit amet consectetur adipiscing</span></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/feature-img2.png" alt="" style="display: block; border: none;" height="60px" align="2" border="0" width="60px" id="2bb009af-0f37-964c-60d7-8fbbfefe2cae" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">Startup Booster</h4>
<div style="text-align: center;"><span style="color: #999999;">Lorem ipsum dolor sit amet consectetur adipiscing</span></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/feature-img3.png" alt="" style="display: block; border: none;" height="60px" align="2" border="0" width="60px" id="0cebdb45-1933-023d-ab25-a883695f6f2e" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">Fluid Layout</h4>
<div style="text-align: center;"><span style="color: #999999;">Lorem ipsum dolor sit amet consectetur adipiscing</span></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="166c6aa9-10c9-49b6-74d2-b283a66d81f2">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 0px 5px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 0px 5px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="76c1eb84-6b63-7755-a211-6a22133208af">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
<table class="image-in-table" width="190" align="left">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" style="display: block;margin: 0px;max-width: 340px" id="c9ce3670-3ba5-cde0-c6a8-84d3fb514758">
</td>
</tr>
</tbody>
</table>
<table width="190">
<tbody>
<tr>
<td class="text-block">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><h4>Headline Goes Here&nbsp;</h4>
<span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</span></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; display: table; background-color: rgb(255, 255, 255);" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="2fc58866-8cf8-8816-a43c-1f38e73f9fa8">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 0px 5px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px" style="padding: 15px 0px 5px;"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-1"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtcol" id="9a7abecf-c171-390c-0060-78f22416a6ba">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
<table width="190" align="left">
<tbody>
<tr>
<td class="text-block">
<div style="line-height: 22px; border: none;" class="textFix"><h4>Headline Goes Here&nbsp;</h4>
<span style="color: #999999;">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</span></div>
</td>
</tr>
</tbody>
</table>
<table class="image-in-table" width="190" align="right">
<tbody>
<tr>
<td class="gap" width="30"></td>
<td width="160">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" style="display: block;margin: 0px;max-width: 340px" id="fcf47c78-9127-2b00-a1ef-fa867620c6ac">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(30, 47, 62);" data-type="title" id="07346b2e-a3bf-b38e-2810-c8463d194dd7">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="font-family: Arial; border: none; color: rgb(255, 255, 255); font-size: 28px;" class=""><div style="text-align: center;">Our Plans &amp; Prices</div></h1>
<h4 class="" style="border: none;"></h4>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-3"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(30, 47, 62);" data-type="imgtxtincol" id="cf491b8f-2a79-5d93-72d9-c8fc63e0618b">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-container" align="left" border="0" cellpadding="0" cellspacing="0" width="350">
<tbody>
<tr>
<td>
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: Arial; color: rgb(255, 255, 255); font-size: 13px;" class="textFix"><div style="text-align: center;"><span style="text-decoration: underline;"><strong>Basic</strong></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">24/7 Tech Support</div>
<div style="text-align: center;">100GB Storage</div>
<div style="text-align: center;"><span style="text-decoration: line-through;">1GB Bandwidth</span></div>
<div style="text-align: center;"><span style="text-decoration: line-through;">Advanced Options</span></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="textbuttonsimg" href="#">Go</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: Arial; color: rgb(255, 255, 255); font-size: 13px;" class="textFix"><div style="text-align: center;"><span style="text-decoration: underline;"><strong>Entreprise</strong></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">24/7 Tech Support<br>100GB Storage<br>1GB Bandwidth<br>Advanced Options</div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="textbuttonsimg" href="#">Go</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="160">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none; font-family: Arial; color: rgb(255, 255, 255); font-size: 13px;" class="textFix"><div style="text-align: center;"><span style="text-decoration: underline;"><strong>Agency</strong></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">24/7 Tech Support<br>100GB Storage<br>1GB Bandwidth<br><span style="text-decoration: line-through;">Advanced Options</span></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="textbuttonsimg" href="#">Go</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="imgtxtincol" id="866720ea-4586-8ca2-ccbc-87783de3cecf">
<tbody>
<tr>
<td>
<table class="main" align="center" border="0" cellpadding="0" cellspacing="0" width="640" id="866720ea-4586-8ca2-ccbc-87783de3cecf" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" style="display: block; border: none;" height="154" align="2" border="0" width="255" id="87f87575-9bae-9914-696c-fe85d8268a59" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Headline Goes Here&nbsp;</h4>
Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="textbuttonsimg" href="#">more</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/placeholder_350x150.png" alt="" style="display: block; border: none;" height="154" align="2" border="0" width="255" id="03b53bd6-3af9-7d74-b011-6fd1623e4967" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4>Headline Goes Here&nbsp;</h4>
Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="padding: 2px;">
<a style="background-color: #3498DB;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 6px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;" class="textbuttonsimg" href="#">more</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(30, 47, 62);" data-type="imgtxtcol" id="85b90f04-b082-67fd-0d45-ae42f002dccc">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 0px 10px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 0px 10px;"></td>
<td width="" style="padding: 15px 0px 10px;">
<img border="0" align="left" src="https://s3.amazonaws.com/AgileEmailTemplates/responsive/lancer/layout1/blue/img/icon.png" style="display: block;margin: 0px;max-width: 340px" id="e9af7ff0-d96a-8abe-cd74-26035fd015d5" width="40px" height="40px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 0px 10px;">
<div style="margin-left: 10px; line-height: 22px; border: none; font-family: Arial; color: rgb(255, 255, 255); font-size: 13px;" class="textFix"><p>Don’t Miss This Opportunity &amp; <a href="#">Get it Now</a>&nbsp;!</p></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(238, 238, 238);" align="center" data-type="text-block" id="3b99a278-aff5-c5f8-10f8-5107bfadc0a0">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><div style="text-align: center;"><span style="color: #999999;">You are currently signed up to Company’s newsletters as: <a style="color: #999999;" href="mailto:email@email.com">email@email.com</a> to unsubscribe <a style="color: #999999;" href="#">Click Here</a></span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody></table>