<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;line-height: 21px;color: #000000;">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="7aae1bf1-c476-7f53-a295-31b467c4bf6e">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/black_friday_png_1476852118375.png" tabindex="0" id="f6d87a21-b8db-d438-a939-e4f6f2b14a18" width="600" height="320">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 255, 255); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" id="1db28737-4b87-113d-9735-f6d981a209e1">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(170, 170, 170); border: 15px solid rgb(170, 170, 170); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold;" class="textbuttonsimg"><span style="color:#ffffff">Special Offer</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="97eb93bc-ae98-24f0-4117-ca4118b26c49">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="title" id="bcecc4ed-b08a-ea82-2dbe-c7ed723d92e1">
<tbody>
<tr>
<td align="left" class="title" style="padding: 0px 50px;"><div style="text-align: center;"><strong>The Hug sale is here!</strong></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="3578893c-3fbe-eb58-b7c2-a3580ec38915">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>2 Column Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="imgtxtincol" id="a9afcda7-3e8b-efe4-2384-1dfc4eaf841e">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="240">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td align="left" class="image-caption-content image imageInColumn" >
<img src="https://agilecrm.s3.amazonaws.com/editor/email/null/black_friday_jpg_1476940722531__1__jpg_1477026150721.jpg" alt="" style="display: block; border: none;" height="236" align="2" border="0" width="236" id="fcdc3363-c562-6984-3e91-af156ea7623f" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" align="left">
<div style="margin: 0px 0px 10px; border: none;" class="textFix"></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 0 20px;" align="center">
<a href="" style="background: rgb(170, 170, 170); border: 15px solid rgb(170, 170, 170); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold;" class="textbuttonsimg">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff">Assured Gifts</span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
</td>
</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="240">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="left" class="image-caption-content image imageInColumn" >
<img src="https://agilecrm.s3.amazonaws.com/editor/email/null/black_friday_jpg_1476940722531__1__jpg_1477025644974.jpg" alt="" style="display: block; border: none;" height="238" align="2" border="0" width="238" id="293e6386-30fb-77d0-67d4-f688abbec80c" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" align="left">
<div style="margin: 0px 0px 10px; border: none;" class="textFix"></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding:0 20px;" align="center">
<a href="" style="background: rgb(170, 170, 170); border: 15px solid rgb(170, 170, 170); text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold;" class="textbuttonsimg">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff">Assured Gifts</span>&nbsp;&nbsp;&nbsp;&nbsp;</a>
</td>
</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="7afe2ba9-adfb-cc22-875c-42d413ae71e1">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="804baa5f-91de-61ef-d3e3-8dbec064a877">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 5px;">
<a href="#" style="border: none; text-decoration: none" class="facebook">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="twitter">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="linkedin">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="youtube">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="instagram">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/instagram.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="pinterest">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/pinterest.png" width="35" height="35">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="a2d7d907-6687-c662-f124-3feccb39ed3c">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; border: none;" class="textFix"><div style="text-align: center;">&nbsp;Don't want to receive emails from us?&nbsp;<a href="{{{unsubscribe_link}}}">Unsubscribe</a>.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>