<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="7aae1bf1-c476-7f53-a295-31b467c4bf6e">
<tbody>
<tr>
<td align="center" style="padding: 15px 0px;" class="image">
<img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://agilecrm.s3.amazonaws.com/editor/email/null/black_friday_png_1476852118375.png" tabindex="0" id="f6d87a21-b8db-d438-a939-e4f6f2b14a18" width="600" height="310">
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="title" id="bcecc4ed-b08a-ea82-2dbe-c7ed723d92e1">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px"><h1 style="text-align: center;">Black Friday: 70% off</h1>
<h4 style="text-align: center;">The Hug sale is here!</h4></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table style="margin: auto; background-color: rgb(255, 255, 255); display: table;" width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" data-type="button" id="ed6df5fb-efe5-4429-c127-09dd01d614f3">
<tbody>
<tr>
<td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
<table style="margin: auto;" width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 10px 10px 10px 10px;" class="button">
<a href="" style="background: rgb(219, 119, 53); border: 15px solid rgb(219, 119, 53); font-family: sans-serif; font-size: 15px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 6px; font-weight: bold;" class="textbuttonsimg"><span style="color:#ffffff">Learn More</span></a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="5503e4e0-bad2-22d7-a7d3-b432145fa991">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="804baa5f-91de-61ef-d3e3-8dbec064a877">
<tbody>
<tr>
<td class="social" align="center" style="padding: 15px 50px 15px 50px;">
<a href="#" style="border: none; text-decoration: none" class="facebook">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="twitter">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="linkedin">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="youtube">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="instagram">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/instagram.png" width="35" height="35">
</a>
<a href="#" style="border: none; text-decoration: none" class="pinterest">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/pinterest.png" width="35" height="35">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="a2d7d907-6687-c662-f124-3feccb39ed3c">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">Don't want to receive emails from us?<a href="#">Unsubcribe</a>.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>