/*default form css start*/
.form-view{font-family:Tahoma,Geneva,sans-serif;width:99%;padding:10px;}.agile-group{margin-bottom:15px}.agile-label{float:left;overflow:hidden;padding:7px 25px 4px 0;text-align:left;word-wrap:break-word;width:100%;font-size:15px}.agile-group label{font-weight:400}.agile-label::first-letter{text-transform:capitalize}.agile-field{display:inline-block}.agile-field-small{width:100px}.agile-field-medium{width:150px}.agile-field-large{width:200px}.agile-field-xlarge{width:250px}.agile-height-small{padding:5px 10px!important}.agile-height-default{padding:6px 12px!important;width: 100%;}.agile-height-large{padding:10px 16px!important}.agile-field input[type=email],.agile-field input[type=text]{padding:6px 12px}.agile-field select{border-radius:4px;border:1px solid #ccc;width:100%;box-shadow:0 1px 1px rgba(0,0,0,.075) inset}.agile-input-group{border-collapse:separate;display:table;position:relative}.agile-input-group input[type=email],.agile-input-group input[type=text]{display:table-cell}.agile-input-group .agile-group-addon:first-child,.agile-input-group input[type=email]:first-child,.agile-input-group input[type=text]:first-child{border-bottom-right-radius:0;border-top-right-radius:0}.agile-input-group .agile-group-addon:last-child,.agile-input-group input[type=email]:last-child,.agile-input-group input[type=text]:last-child{border-bottom-left-radius:0;border-top-left-radius:0}.agile-group-addon:first-child,.agile-input-group input[type=email]:first-child,.agile-input-group input[type=text]:first-child{border-right:0 none}.agile-group-addon{background:#eee;border:1px solid #ccc;display:table-cell;font-size:14px;padding:3px 12px;text-align:center}.agile-group-addon-append{border-bottom-right-radius:4px;border-top-right-radius:4px}.agile-group-addon-prepend{border-top-left-radius:4px;border-bottom-left-radius:4px}input[type=email],input[type=password],input[type=url],input[type=text],textarea{border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.075) inset;color:#555;font-size:14px;line-height:1.42857;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%;margin:0}input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{border:1px solid #66afe9}.agile-btn-red{background:#ff604f!important;margin-left:10px}.help-block{color:#999;margin:0;font-size:14px;text-transform:capitalize}legend{border-bottom:1px solid #eee;margin-bottom:18px;padding-bottom:6px;width:100%;font-weight:700;font-size:20px}fieldset{border:none}.agile-custom-clear{clear:both}#agile-error-msg{position:relative;top:2px;left:8px;color:red;font-size:12px}.error{color:red}.agile-form-transparent input,.agile-form-transparent select,.agile-form-transparent textarea{background-color:transparent;border:1px solid #fff;border-radius: 0;}.agile-form-transparent ::-webkit-input-placeholder{color:#fff}.agile-form-transparent :-moz-placeholder{color:#fff}.agile-form-transparent ::-moz-placeholder{color:#fff}.agile-form-transparent :-ms-input-placeholder{color:#fff}.agile-group-addon{
  vertical-align: middle;}
/*default form css end*/
/*form theme1 css start*/
.theme1 input[type=text],.theme1 input[type=email],.theme1 input[type=password],.theme1 input[type=url],.theme1 .agile-group select:not([multiple]),.theme1 textarea {
  border: 1px solid #cfdadd;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #333!important;
  font-weight: 100;
  font-size: 14px!important;
  line-height: 20px!important;
  outline: 0;
  background-color: #fff;
  padding: 10px 20px !important;
  /*display: block;*/
  font-family:sans-serif;
  box-sizing: border-box;
}
.theme1 .agile-group select[multiple] {
    font-size: 14px!important;
}
.theme1 .agile-field{
 /* width:380px;*/
 width:90%;
}
.theme1 textarea{
  height: 119px;
  border-radius: 20px;
}
.theme1  button{
 background-color: #23b7e5;
 border: 1px solid #23b7e5;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 color: #fff;
 cursor: pointer;
 font-size: 18px;
 padding: 6px 20px;
 width: 100% !important;
 margin-top: 20px;
 outline: none;
 height: 48px;
 font-family:sans-serif;

}
.theme1 button:hover{
    background-color: #19a9d5!important;
    border-color: #189ec8!important;
  }
.theme1 .agile-label{ display: block; font-size:14px; font-weight: 100; 
    margin-bottom: 5px;
}
.theme1 .agile-group-addon:first-child{
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
}
.theme1 .agile-group-addon:last-child{
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;  
}
.theme1 .agile-group textarea{
  height:119px;
}
.theme1 legend{
  border-bottom: 3px solid #f6f6f6!important;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: none;
  /*width:90%;*/
}
.theme1 .agile-input-group{
  width: 100%;
}
/*.theme1 .agile-group{
  padding: 0px 35px;
}*/
.theme1 input::-webkit-input-placeholder{
 color: #9e9e9e!important;
}
.theme1 input:-moz-placeholder{
 color:#9e9e9e!important;
}
.theme1 input::-moz-placeholder{
 color:#9e9e9e!important;
}
.theme1 input:-ms-input-placeholder{
 color:#9e9e9e!important;
}
.theme1 fieldset{
  margin: 0;
  padding: 0;
}
.theme1  .agile-group select{
 background-color: white;
}   
.theme1{
font-size: 14px;
font-weight: 400;
border-radius: 4px;
padding: 20px 20px;
letter-spacing: 0;
background: #fff;
box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2); 
-moz-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
margin: auto
}
.theme1 textarea:focus{
  outline:none!important;
  border: 1px solid #cfdadd!important;
}
.theme1 .agile-field textarea{/*padding:5px !important;*//*max-width:400px;*/border:1px solid #ccc!important;resize:vertical;}
.theme1 .agile-field select{border: 1px solid #ccc!important;}
.theme1 .agile-field select:focus{outline:none;}
.theme1.agile-form-transparent input,.theme1.agile-form-transparent select,.theme1.agile-form-transparent textarea{background-color:transparent;border:1px solid #fff!important;border-radius: 0!important;}.theme1.agile-form-transparent ::-webkit-input-placeholder{color:#fff!important}.theme1.agile-form-transparent :-moz-placeholder{color:#fff!important}.theme1.agile-form-transparent ::-moz-placeholder{color:#fff!important}.theme1.agile-form-transparent :-ms-input-placeholder{color:#fff!important}.theme1.agile-form-transparent input:focus,.theme1.agile-form-transparent textarea:focus,.theme1.agile-form-transparent select:focus{border: 2px solid #9E9E9E!important;}.theme1.agile-form-transparent .agile-group-addon:first-child{
 border-top-left-radius:0!important;border-bottom-left-radius:0!important;}
.theme1.agile-form-transparent .agile-group-addon:last-child{border-top-right-radius:0!important;border-bottom-right-radius:0!important;}
/*form theme1 css end*/
/*form theme2 css start*/
.theme2 input[type=text],.theme2 input[type=email],.theme2 input[type=password],.theme2 input[type=url],.theme2 select,.theme2 textarea {
  border: 1px solid #cfdadd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333!important;
  font-weight: 100;
  font-size: 14px!important;
  line-height: 20px!important;
  outline: 0;
  background-color: #fff;
  padding: 10px 20px !important;
  /*display: block;*/
  font-family:sans-serif;
  box-sizing: border-box;
}
.theme2 .agile-field{
  /*width:300px;*/
  width:90%;
}
.theme2 button{
  background-color: #23b7e5;
   border: 1px solid #23b7e5;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
   padding: 10px 20px;
   width: 100% !important;
   margin-top: 20px;
   outline: none;
   font-family:sans-serif;
   line-height: 23px;

}
.theme2 button:hover{
  background-color: #19a9d5;
  border-color: #189ec8;
  color: #fff;
}
.agile-group .i-checks{ margin-right: 15px;}
.theme2 .agile-label{ display: block; font-size:14px; font-weight: 100; 
    margin-bottom: 5px; font-family:sans-serif;}

.theme2 legend{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: none;
  padding: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0;
  background-color: #fbfbfb;
  color: #333;
}
.theme2 .agile-input-group{
    /*width: 300px;*/
    width:100%;
}
.theme2 input::-webkit-input-placeholder{
font-family:sans-serif;
color: #9e9e9e!important;
}
.theme2 input:-moz-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme2 input::-moz-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme2 input:-ms-input-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme2 .agile-group{
margin-left: 35px;
}
.theme2{
  font-family:sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}
.theme2 .agile-field textarea{ 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 100px;
}
.theme2 .agile-field select{ 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 20px !important;
}
.theme2 .agile-group-addon:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0px;
}
.theme2 .agile-group-addon:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.theme2 .agile-group-addon{border: 3px solid #f3f3f3;}
.theme2 .agile-group .i-checks:first-child{
     margin-bottom: 5px;
}

.i-checks{cursor: pointer; display: inline-block;}

.i-checks>i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all .2s;
    transition: all .2s;
}
.i-checks input[type=radio]+i, .i-checks input[type=radio]+i:before, .i-switch i:after {
    border-radius: 50%;
}
.i-checks>i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}
.i-checks>i{
 margin-bottom: 4px;
}
.i-checks>i {
    vertical-align: middle;
    box-sizing: content-box;
}
.i-checks input {
    position: absolute;
    opacity: 0;
    width: auto;
}
.i-checks input:checked+i {
    border-color: #23b7e5;
}
.i-checks input:checked+i:before {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #23b7e5;
}
.theme2 button{margin-left: 0;}
.theme2{overflow-x: hidden; width: 100%; border-radius: 5px; box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);background-color:white!important;}
.theme2 fieldset{margin: 0; padding: 0;}
.theme2 input[type=text], .theme2 input[type=email],.theme2 input[type=password],.theme2 input[type=url],.theme2 select, .theme2 textarea{
  background-color: #fff; box-shadow: inherit; border:3px solid #f3f3f3;
}
.theme2 input[type=email]:focus,.theme2 input[type=url]:focus,.theme2 input[type=password]:focus,.theme2 input[type=password]:focus,.theme2 input[type=text]:focus,.theme2 textarea:focus,.theme2 select:focus{border:3px solid #66afe9 !important;outline:none!important;}
.theme2 .agile-field textarea{/*padding:0px !important;*/resize:vertical;/*max-width:400px;*/}
.theme2.agile-form-transparent input,.theme2.agile-form-transparent select,.theme2.agile-form-transparent textarea{background-color:transparent;border-left: 1px solid #fff!important;border-right: 1px solid #fff!important;border-bottom: 1px solid #fff!important;border-top: 1px solid #f1f1f1!important;border-radius: 0!important;}.theme2.agile-form-transparent ::-webkit-input-placeholder{color:#fff!important}.theme2.agile-form-transparent :-moz-placeholder{color:#fff!important}.theme2.agile-form-transparent ::-moz-placeholder{color:#fff!important}.theme2.agile-form-transparent :-ms-input-placeholder{color:#fff!important}.theme2.agile-form-transparent input:focus,.theme2.agile-form-transparent textarea:focus,.theme2.agile-form-transparent select:focus{border: 2px solid #9E9E9E!important;}.theme1.agile-form-transparent,.theme2.agile-form-transparent{box-shadow: none;-webkit-box-shadow: none;}
/*form theme2 css end*/
/*form theme3 css start*/
.theme3 input[type=text],.theme3 input[type=email],.theme3 input[type=password],.theme3 input[type=url],.theme3 select,.theme3 textarea {
  border: 1px solid #cfdadd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333!important;
  font-weight: 100;
  font-size: 14px!important;
  line-height: 20px!important;
  outline: 0;
  background-color: #fff;
  padding: 10px 20px !important;
  /*display: block;*/
  font-family:sans-serif;
  box-sizing: border-box;
}
.theme3 .agile-field{
  /*width:300px;*/
  width:90%;
}
.theme3 button{
  background-color: #00ada7;
 border: 1px solid #00ada7;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 color: #fff;
 cursor: pointer;
 font-size: 18px;
 padding: 10px 20px;
 width: 100% !important;
 margin-top: 20px;
 outline: none;
 font-family:sans-serif;
 line-height: 23px;

}
.theme3 button:hover{
    background-color: #04928d;
    border-color: #04928d;
    color: #fff;
}
.theme3 .agile-label{ 
  display: none; font-size:14px; font-weight: 100; margin-bottom: 5px; font-family:sans-serif;}
.theme3 legend{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: none;
  padding: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0;
  background-color: #d9ede2;
}
.theme3 .agile-input-group{
  /*width: 300px;*/
  width: 100%;
}
.theme3 input::-webkit-input-placeholder{
  font-family:sans-serif;
  color:#9e9e9e!important;
}
.theme3 input:-moz-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme3 input::-moz-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme3 input:-ms-input-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme3 .agile-group{
  margin-left: 35px;
  margin-bottom: 25px;
}
.theme3{
  background-color: #d9ede2;
  font-family:sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}
.theme3 .agile-field textarea{ 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 100px;
}
.theme3 .agile-field select{ 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 20px !important;
}
.theme3 .agile-group-addon:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.theme3 .agile-group-addon:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.agile-group .i-checks{ margin-right: 15px;}
.theme3 .agile-group .i-checks:first-child{
   margin-bottom: 5px;
}
.theme3 button{margin-left: 0;}
.theme3{overflow-x: hidden; width: 100%; border-radius: 5px;}

.theme3 fieldset{margin: 0; padding: 0;}
.theme3 input[type=text],.theme3 input[type=password], .theme3 input[type=email],.theme3 input[type=url],.theme3 select, .theme3 textarea{
  background-color: #fff; border: 0px; box-shadow: inherit;
}
.theme3 .agile-group-addon{border: 0px; background-color:#00ada7; color: #fff;}
.theme3 input[type=email]:focus,.theme3 input[type=url]:focus,.theme3 input[type=password]:focus,.theme3 input[type=text]:focus,.theme3 textarea:focus,.theme3  select:focus{border:0px solid #66afe9 !important;outline:none!important;}
.theme3 .agile-field textarea{/*padding:0px !important;*/resize:vertical;/*max-width:400px;*/}
/*form theme3 css end*/
/*form theme4 css start*/
.theme4 input[type=text],.theme4 input[type=email],.theme4 input[type=password],.theme4 input[type=url],.theme4 select,.theme4 textarea {
  border: 1px solid #cfdadd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333!important;
  font-weight: 100;
  font-size: 14px!important;
  line-height: 20px!important;
  outline: 0;
  background-color: #fff;
  padding: 3px 0px !important;
  /*display: block;*/
  font-family:sans-serif;
  box-sizing: border-box;
}
.theme4 .agile-field{
 /*width:300px;*/
 width:90%;
}
.theme4 button{
 background-color: #77c4d4;
 border: 1px solid #77c4d4;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
 border-radius: 0px;
 color: #fff;
 cursor: pointer;
 font-size: 18px;
 padding: 10px 20px;
 width: 100% !important;
 margin-top: 20px;
 outline: none;
 font-family:sans-serif;
 line-height: 23px;

}
.theme4 button:hover{
  background-color: #64acbb;
  border-color: #64acbb;
  color: #fff;
}

.theme4 .agile-label{ display: none; font-size:14px; font-weight: 100; 
    margin-bottom: 5px; font-family:sans-serif;}

.theme4 legend{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: none;
  padding: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0;
  background-color: #77c4d4;
  color: #fff;
}
.theme4 .agile-input-group{
   /* width: 300px;*/
    width: 100%;
}
.theme4 .agile-input-group input{
  padding: 10px 20px !important;
    
}

.theme4 input::-webkit-input-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme4 input:-moz-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme4 input::-moz-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme4 input:-ms-input-placeholder{
 font-family:sans-serif;
 color:#9e9e9e!important;
}
.theme4 .agile-group{
  margin-left: 35px;
  margin-bottom: 30px;
}
.theme4{
  font-family:sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.theme4 .agile-field textarea{ 
 box-shadow: inherit; border:0px; border-bottom:1px solid #eee; border-radius: 0;
  min-height:auto;
  font-family:sans-serif;
  padding:0px !important;
  resize:vertical;
  /*max-width:400px;*/
}
.theme4 .agile-field select{ 
    padding: 10px 0px !important;
}
.theme4 .agile-group-addon:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0px;
}
.theme4 .agile-group-addon:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.theme4 .agile-group-addon{border: 0px solid #eee;}
.theme4 .agile-group .i-checks:first-child{
  margin-bottom: 5px;
}
.theme4 .agile-group .i-checks{ margin-right: 15px;}
.theme4 button{margin-left: 0;}
.theme4{overflow-x: hidden; width: 100%; border-radius: 5px; box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);background-color:white!important;padding: 0;}
.theme4 fieldset{margin: 0; padding: 0;}
.theme4 input[type=text],.theme4 input[type=password], .theme4 input[type=email],.theme4 input[type=url],.theme4 select{
    background-color: #fff; box-shadow: inherit; border:0px; border-bottom:1px solid #eee;
    border-radius: 0px;
  }
.theme4 input[type=email]:focus,.theme4 input[type=url]:focus,.theme4 input[type=password]:focus,.theme4 input[type=text]:focus,.theme4 select:focus,.theme4 textarea:focus{border-bottom:1px solid #66afe9 !important;outline:none;!important}
.theme2 .agile-group:last-child,.theme3 .agile-group:last-child,.theme4 .agile-group:last-child {
    padding-bottom: 15px;
}
.theme2 .agile-group:nth-child(3),.theme3 .agile-group:nth-child(3),.theme4 .agile-group:nth-child(3) {
    padding-top: 20px;
}
/*form theme4 css end*/

.form-view .agile-hiddenEle-group{display: none;}
.form-view select:not([multiple]){
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  background: url("https://agilecrm.s3.amazonaws.com/forms/select-down-arrow.png") no-repeat 98% 49% #fff!important;
}

