.innerBackgroundTheme,.innerFontTheme,.innerBorderTheme,.innerAlignmentTheme,.selectDiv{
	margin-left: 30px;
    margin-top: 50px;
}
.outerSelectTheme{
	display: inline;
	width: 250px;
}
.outerBackgroundTheme,.outerFontTheme,.outerBorderTheme,.outerAlignmentTheme{
	display:none;
	 margin: 25px;
}
.innerAlignmentAlignStart
{
	margin-left: 40px;
}
.innerFontWeightDiv{
	margin-top: 20px;
}
ul{
	list-style-type: none;
	margin-left: -34px;
	margin-top: 4px;
}
li{
	margin:5px;
	/*border-bottom: 1px solid lightgray;*/
}
.ulDiv{
overflow-y: scroll;
border: 1px solid #ccc;
width: 156px;
height: 61px;
}
.selectSpan{
	padding-left:34px
}
.solidBorder{
	border:1px solid #444444;
}
.dottedBorder{
	border:1px dotted #444444;	
}
.dashedBorder{
	border:1px dashed #444444;
}
.doubledBorder{
	border:1px doubled #444444;
}
.outerArrow{
	    margin-left: -12px;
}
.innerColorTheme{
	border: 1px solid #ccc;
    padding: 6px;

}
.innerBackgroundImageTheme{
	overflow:none;
	margin-left: 10px;

}
.bgImgLit li{
	float:left;
	margin: 3px 4px;
}
.bgImgLit{
	overflow: hidden;
	height: 160px;
	width: 160px;
}
.innerFontUlDiv{
	width: 72px;
    height: 75px;
    overflow-y: hidden;
}
.innerFontSizeUlDiv{
	width: 72px;
    height: 75px;
}
.fontThemeArrow{
	margin-right: 25px;
}
.selected{
background-color:#3E8AD8;	
}
select{
	height:25px;
}
.ulDiv p{
	height: 4px;
}
.outerSelectTheme{
	display: inline;
	border-right: 1px solid #9E9E9E;
    border-left: 1px solid #9E9E9E;
}
.dropdown-content{
	display:none;
	padding-left: 10px;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border: 1px solid #9E9E9E;
	border-bottom: 1px solid #9E9E9E;
	margin-left: 75px;
	margin-top: 35px;
}
.themeDiv{
	padding: 5px;
	display: flex;
}
.themeDiv .themeEle{
	/*padding-right: 90px;
	padding-right: 75px;
	padding-left: 15px;*/
}
.themeEle:hover{
	background-color:#9E9E9E;
	text-decoration:none;
}
themeEleDelete:hover{
	text-decoration:none;
}
.ipadding{
	/*padding-right: 28px;*/
}
#form-preview:hover,#form-save:hover{
	background-color: #ccc;
}
