.navbar {
    min-height: 41px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
    box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
    margin-bottom: 0px;
    border: 0px;
    z-index: 2001;
}
.navbar .navbar-brand {
    display: block;
    padding-bottom: 18px;
    height: 41px;
    padding: 10px 18px;
}
body{
    background-color: #edf1f2;
}
.container{
    width: 100%!important;
}
.form-horizontal{
    background-color: #fff;
}
input.cancel-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 6px;
    outline:0;
}
input.cancel-btn:hover {
    background-color: #f5f5f5;
}
#form_preview{
    background-color: #fff;
    border-color: #fff;
    border-right-color: #ccc;
    color: black;
    font-size: 15px;
    margin-right: 70px;

}
#form_preview:hover{
    background-color: #eee;
    border-top-color: #eee;
    border-bottom-color: #eee;
}
.tabbable{
    margin-right: 15px;
    margin-top: 28px;
}
#components {
    min-height: 500px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.navbar-color{
    color: #fff;
    background-color: #7266ba;
    border-color: #7266ba;
}
#form-save{
    color: #fff;
}
#form-save,#form_preview,#form_back,.themesSelectEle{
border-radius: 0px;font-size: 15px;
}
#form_preview .glyphicon,#form_back .glyphicon{
    padding-right: 2px;
}
#agile-logo{
    border-right: 1px solid #eee;
    color: #7266ba;
}
#agile-logo:hover,#agile-logo:focus,#agile-logo:active{
    background-color: #fff!important;
    color:#6254b2!important;
}
#form_back{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
#form_back:hover{
    border-top-color: #eee!important;
    border-bottom-color: #eee!important;
}
#form-save:hover,#form-save:focus,#form-save:active {
    background-color: #6254b2!important;
    border-color: #6254b2!important;
}
.themesSelectEle {
    font-size: 15px;
    border: 1px solid #ccc;
    border-top-color: #fff;
    border-bottom-color: #fff;
    outline: 0;
    padding-right: 25px!important;
}
.modal-content{
    position: relative;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header .close{
     opacity: .2;
     outline:none;
}
.modal-title{
    font-weight: normal;
    margin: 0;
    font-size: 16px;
    line-height: 1.42857143;
    color: #58666e;
}
.modal-body{
    background: #fff;
    position: relative;
    padding: 15px;
}
.modal-footer{
    padding: 10px;
    background-color: rgba(0,0,0,0.025);
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .checkbox{
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
    display: block;
}
.modal-footer .checkbox label{
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    float: left!important;
    display: inline-block;
    max-width: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.69;
    color: #58666e;
}
.close-button{
    outline:none;
    color: #fff!important;
    background-color: #7266ba;
    border-color: #7266ba;
    border-radius: 2px;
    outline: 0!important;
    padding: 4px 9px;
    font-size: 12px;
    line-height: 1.7;
    border: 1px solid transparent;
}
#form-copy-dropdown{
    display: none;
    padding: 5px;
    border-radius: 0;
    padding-top: 17px;
}
#form-copy-dropdown:hover,#form-copy-dropdown:active {
    background-color: #6254b2!important;
    border-color: #6254b2!important;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
    color: #141719;
    background-color: #f5f5f5;

}

