<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top" style="min-height: 520px;">

<div class="column ui-sortable">


<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="title" id="06474a29-1558-5037-8781-957f1bd9765f">
<tbody>
<tr>
<td align="left" class="title" style="padding:5px 50px 5px 50px">
<h1 style="text-align: center;">The Latest News</h1>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="de7b5b6a-80c1-3214-2004-e77f3b6002f0">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(255, 255, 255);" data-type="button" id="426be71c-084d-deab-71c2-2a9ea3304a59">
<tbody>
<tr>
<td style="padding: 0px 50px 10px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 0px 50px 10px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(37, 111, 156);" class="button-1" href="#" data-default="1">Learn More</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(245, 247, 250);" align="center" data-type="text-block" id="f376e182-b4d6-75fe-58e4-aa6e67b80ff3">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><h3 style="text-align: center;">Around the Blog</h3>
<div style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(245, 247, 250);" data-type="imgtxtincol" id="824a6d70-c9f8-b6ab-770a-148d8356f89b">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/news-1.jpg" alt="" style="display: block; border: none;" height="130px" align="2" border="0" width="240px" id="8e9a824e-78bf-3feb-da32-7f117b555f7b" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">News Item</h4>
<div style="text-align: center;">Integer ut tempor lectus. Vivamus at gravida arcu.</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="#">Read More</a></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/news-2.jpg" alt="" style="display: block; border: none;" height="130px" align="2" border="0" width="240px" id="cac8ec34-ee21-9929-4721-c051dc5fdfba" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">News Item</h4>
<div style="text-align: center;">Integer ut tempor lectus. Vivamus at gravida arcu.</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="#">Read More</a></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-incol-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(245, 247, 250);" data-type="imgtxtincol" id="f813dfd6-f633-f97e-ebdf-9875c12aa5fd">
<tbody>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="display: table;">
<tbody>
<tr>
<td class="image-caption" style="padding: 0px 50px 0px 50px;">
<table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/news-3.jpg" alt="" style="display: block; border: none;" height="130px" align="2" border="0" width="240px" id="b5daed56-b0fb-ef25-1096-663f2da203bd" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">News Item</h4>
<div style="text-align: center;">Integer ut tempor lectus. Vivamus at gravida arcu.</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="#">Read More</a></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td class="image-caption-bottom-gap" height="5" width="100%"></td>
</tr>
</tbody>
</table>
<table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
<tbody>
<tr>
<td class="image-caption-top-gap" height="15" width="100%"></td>
</tr>
<tr>
<td align="center" class="image-caption-content image imageInColumn" style="font-family: Arial; font-size: 13px; color: #000000;">
<img src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/news-4.jpg" alt="" style="display: block; border: none;" height="130px" align="2" border="0" width="240px" id="55c4733f-d6aa-d8c0-dd8e-42a5fddac201" class="">
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>
<td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
<div style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="textFix"><h4 style="text-align: center;">News Item</h4>
<div style="text-align: center;">Integer ut tempor lectus. Vivamus at gravida arcu.</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="#">Read More</a></div></div>
</td>
</tr>
<tr>
<td height="15" width="100%"></td>
</tr>
<tr>

</tr>
<tr>
<td height="5" width="100%"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon title-block"></div>
<label>Title</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="title" id="e8449a97-f6c8-e477-f906-e36e11c605a6">
<tbody>
<tr>
<td align="left" class="title" style="padding: 0px 50px;">
<h1 style="text-align: center;">Upcoming Events</h1>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="imgtxtcol" id="d6385d9d-6265-ff27-67d3-94dc3b181d44">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 0px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 50px 10px 0px;"></td>
<td width="" style="padding: 15px 50px 10px 0px;">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/calendar.png" style="display: block;margin: 0px;max-width: 340px" id="3b7af279-565a-f961-c56f-744d3d67ac41" width="105px" height="105px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 50px 10px 0px;">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><span style="color: #999999;">January 1, 2016</span>
<h4>Etiam tincidunt, quam ac porttitor</h4>
<span style="color: #808080;">Maecenas sed nulla massa. In mattis vulputate nisl, rhoncus blandit lorem maximus non. Phasellus tempus in ipsum non lacinia.</span></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="button" id="a3f9abf6-54d0-80af-3c87-0f6965c59ce3">
<tbody>
<tr>
<td style="padding: 0px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 0px 50px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(37, 111, 156);" class="button-1" href="#" data-default="1">Learn More</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="imgtxtcol" id="dad2a19f-2885-f39d-a69b-3b9f46282597">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 0px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 50px 10px 0px;"></td>
<td width="" style="padding: 15px 50px 10px 0px;">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/calendar.png" style="display: block;margin: 0px;max-width: 340px" id="c66d420b-9951-18f9-fb2c-fbc6982df69a" width="105px" height="105px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 50px 10px 0px;">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><span style="color: #999999;">January 1, 2016</span>
<h4>Etiam tincidunt, quam ac porttitor</h4>
<span style="color: #808080;">Maecenas sed nulla massa. In mattis vulputate nisl, rhoncus blandit lorem maximus non. Phasellus tempus in ipsum non lacinia.</span></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="button" id="1019cac2-2fc9-b626-b579-421ab519b8ed">
<tbody>
<tr>
<td style="padding: 0px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 0px 50px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(37, 111, 156);" class="button-1" href="#" data-default="1">Learn More</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-col-2"></div>
<label>Image/Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="imgtxtcol" id="842fb089-753b-b1eb-d53a-abdec80db2de">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 15px 50px 10px 0px; font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); line-height: 22px;">
<table class="image-in-table" width="" align="left">
<tbody>
<tr>
<td class="gap" width="30" style="padding: 15px 50px 10px 0px;"></td>
<td width="" style="padding: 15px 50px 10px 0px;">
<img border="0" align="left" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/template/2/calendar.png" style="display: block;margin: 0px;max-width: 340px" id="3c0985b6-48b8-b3d9-b13f-948c4ceb77d8" width="105px" height="105px">
</td>
</tr>
</tbody>
</table>
<table width="">
<tbody>
<tr>
<td class="text-block" style="padding: 15px 50px 10px 0px;">
<div style="margin-left: 10px; line-height: 22px; border: none;" class="textFix"><span style="color: #999999;">January 1, 2016</span>
<h4>Etiam tincidunt, quam ac porttitor</h4>
<span style="color: #808080;">Maecenas sed nulla massa. In mattis vulputate nisl, rhoncus blandit lorem maximus non. Phasellus tempus in ipsum non lacinia.</span></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon button-block"></div>
<label>Button</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="display: table; background-color: rgb(230, 233, 237);" data-type="button" id="455a91bb-d36e-155b-4945-5f86c3bc9d0f">
<tbody>
<tr>
<td style="padding: 0px 50px;" class="buttons-full-width">
<table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
<tbody>
<tr>
<td style="padding: 0px 50px;" class="button">
<a style="color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; line-height: 21px; border-radius: 6px; text-align: center; text-decoration: none; font-weight: bold; display: block; margin: 0px; padding: 12px 20px; background-color: rgb(37, 111, 156);" class="button-1" href="#" data-default="1">Learn More</a> 
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(230, 233, 237);" align="center" data-type="text-block" id="1dcfa4f7-7455-67e8-35b1-94a4c53d971a">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="display: table; background-color: rgb(255, 255, 255);" align="center" data-type="text-block" id="53264b8c-d508-ce38-26ab-983635d71642">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
<div style="margin:0px 0px 10px 0px;line-height:22px" class="textFix"><div style="text-align: center;">1234 Main Street, Anywhere, MA 01234, USA</div>
<div style="text-align: center;">Unsubscribe | View this email in your browser</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div></div>
</td>
</tr>
</tbody></table>