@font-face {
	font-family: ProximaNova-Bold;
	src: url(ProximaNova-Bold.otf);
}

@font-face {
	font-family: ProximaNova-Regular;
	src: url(ProximaNova-Regular.otf);
}

@font-face {
	font-family: ProximaNova-Light;
	src: url(ProximaNova-Light.otf);
}

@font-face {
	font-family:fontawesome;
	src: url(FontAwesome.otf);
}
@font-face {
	font-family:fontawesome;
	src: url('FontAwesome.otf') format('otf'),
	     url('fontawesome-webfont.woff.woff') format('woff'), 
       url('fontawesome-webfont.ttf') format('truetype'), 
       url('fontawesome-webfont.svg#webfontg8dbVmxj') format('svg');
}

body {
	background: #F6F6F6;
	/*font-family: ProximaNova-Regular;*/
}


.minutes.activemin {
	color: #4A90E2;
}

.selected_image{
	background":"#4A90E2;
}

#avatar {
	margin: 15px auto;
	display: block;
	height: 60px;
}
#multi-user-avatar{
	margin: 15px auto;
	display: block;
	height: 60px;
}

.lead {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top:35px;
	margin-bottom:35px;
}

.segment {
	margin: 0 auto;
	float: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 12px 25px 25px 25px;
	position: relative;
	margin-bottom: 50px;
	min-height: 140px;
}
.segment:hover
{
	box-shadow: 0 0 14px 1px #eee;
}

.segment p {
	margin: 0;
}

.segment .col-sm-4 {
	/* text-align: center; */
}

.segment2 {
	 min-height: 367px;
	
	
}

.segmenth {
	font-size: 16px;
	color: #8E8F8F;
	padding-left: 20px;
}

.segment2 .segmenth {
	font-size: 16px;
	color: #8E8F8F;
	padding-left: 30px;
}

.datepickerContainer {
	
	padding: 3px;
}

tbody.datepickerDays td.datepickerSelected {
 background: #ccc !important;
 border-radius: 2px;
}

tbody.datepickerDays td.datepickerSelected a {

 border-radius: 0px;
 color:#fff!important;
 
}
.datepickerMonths td:hover a,.datepickerViewYears td:hover a
{
	color:#000!important;
	cursor:pointer;
}

tbody.datepickerDays td:hover,tbody.datepickerMonths td:hover,.datepickerViewYears td:hover{
 background:#ddd;
 border-radius:0px;
 cursor:pointer;
 

}

tbody.datepickerDays td.datepickerSelected,.datepickerMonths td.datepickerSelected,.datepickerViewYears td.datepickerSelected{
	background:#4A90E2!important;
border-radius: 0px;
}
tbody.datepickerDays td.datepickerSelected a:hover
{
	color:#fff!important;
}
tbody.datepickerDays td:hover a {
 
 border-radius: 0px;
 cursor: pointer;
 color:#000!important;
}

div.datepicker table td {
	text-align: center !important;
}

.numberlt {
position: absolute;
background: #4A90E2;
font-size: 14px;
color: white;
left: -15px;
top: -13px;
padding: 4px 10px;
font-family: arial;
border-radius: 50%;
vertical-align: middle;
}

.timezone {
	float: right;
	font-size: 14px;
	color: #8E8F8F;
}

.blockdiv {
	display: none;
}

.timezone1 {
	
	color: #8E8F8F;
font-size: 15px;
cursor: pointer;
}

.availability {
	font-size: 17px;
	color: #666;
	text-align: center;
	margin-top: 20px;
	margin-bottom:15px!important;
	margin-top:22px!important;
	
}

.segment3 input,.segment3 textarea {
	outline: 0 !important;
}

.segment3 input:focus,.segment3 textarea:focus {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(116, 186, 239, 1);
	-moz-box-shadow: 0px 0px 5px 3px rgba(116, 186, 239, 1);
	box-shadow: 0px 0px 5px 3px rgba(116, 186, 239, 1);
}

#mainwrap {
	background: white;
	border: 1px solid #EBEBEC;
	border-radius: 6px;
	margin-top: 20px;
	margin-bottom:30px;
}

.datepicker>div {
	background: none;
}

div.datepicker table td {
	text-align: right;
	/*padding: 8px !important;*/
	margin: 0;
}
.datepickerDays td a,.datepickerMonths td a,.datepickerYears td a
{
	width: 40px;
padding: 8px 0px;
display: block;
box-sizing: content-box;
-webkit-box-sizing:content-box;
-ms-box-sizing:content-box;
-o-box-sizing:content-box;
}
.datepickerYears td a
{
	width:58px;
}
.datepickerGoNext a,.datepickerGoPrev a {
	color: #0198E1 !important;
}

.datepickerMonth a span {
	color:#444;
	
	font-size: 16px;
}

#mainwrap div.datepicker a {
	color: #000;
}

.datepickerDoW th
{
	text-align:center!important;
}

.datepickerDoW th:first-child
{
	display:none;
}


.datepickerNotInMonth a span {
	color: #a9a9a9;
}

.checkbox-main-grid li {
	float: left;
	margin-left: 0px;
}

.checkbox-main-grid {
	list-style: none;
}

.checkbox-grid li {
	display: block;
	float: none;
	margin-left: -24px;
	margin-bottom:7px;
}

.checkbox-grid li label {
	margin-left: 5px;
	font-weight: 500;
	color: #8E8F8F;
	font-size: 14px;
	vertical-align:middle;
}

.segment1 p.choose {
	font-size: 16px;
}

.choose {
	color: #979797;
	cursor: pointer;
}

.minutes {
	color: #4a4a4a;
}

.segment3 {
	min-height: 282px;
	margin-bottom: 10px;
}

.segment3 input {
	margin: 5px 0 10px 0px;
	border: 1px solid #74B9EF;
	border-radius: 6px;
	width: 100%;
	padding: 8px;
}

.segment3 input[type="checkbox"] {
	width: auto;
	vertical-align: middle;
	margin-top: 4px;
	float: left;
}

.inputtext {
	border: 1px solid #74B9EF;
	border-radius: 6px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	padding: 5px;
}

.segment3 label {
	float: left;
	margin-left: 5px;
	color: #8E8F8F;
	max-width: 85%;
}

.segment3 .error {
	float: left;
	color: red;
	margin-left: 0px;
	max-width: 100%;
	font-size: small;
	font-weight:normal;
}

.segment2 .segmenth {
	
}

.segment1 .segmenth {
	margin-bottom: 20px;
}

#confirm {
	padding: 10px 24px;
	margin: 10px auto 20px;
	display: block;
	background: #5DB85C;
	border: 1px solid #4BAD4B;
	border-radius: 3px;
	color: white;

	font-size: 16px;

}

#confirm:hover {
	background: #284e8e;
	border:1px solid #3276b1;
}

@media screen and (max-width: 991px) {
	.checkbox-grid li {
		/*width: 50% !important;*/
	}
	.segment2 {
		min-height: 370px;
	}
}

@media screen and (max-width: 767px) {
	ul,ul li
{
	margin:0;
	padding:0;
}
	.datepicker {
		margin: 0 auto;
		width:100%!Important;
	}
	.segment2 {
		min-height: 525px;
	}
	.checkbox-grid li {
		/*width: 33% !important;*/
		margin-left:0px;
		margin-right:10px;
	}
	.inputtext {
		width: 100%;
	}
	.timezone {
		font-size: 14px;
		display: block;
		float: right;
	}
	.timezone1 {
		font-family: ProximaNova-bold;
	}
	.segment p.choose {
		margin-bottom: 25px;
	}
	
}

.segment p.choose {
		margin-bottom: 25px;
	}

@media screen and (max-width: 435px) {
	.segment2 {
		min-height: 640px;
	}
	/*.checkbox-grid li {
		width: 50% !important;
	}*/
}

.me-disable {
	background:#F6F6F6;
}

.appointment-wrap {
	width: 680px;
	margin-top:100px!important;
	position: relative;

}
.event-title
{
	margin:0px 13px 18px;
border-bottom: 1px solid #ddd;
padding: 0px;
padding-bottom: 4px;
font-size: 16px;
font-weight:800;

color: #8E8F8F;
}
#datepick
{
	height:300px!Important;
}
#datepick table td table
{
	border:1px solid #ddd;
}
.green-bg
{
	background:#5db85c;
	padding: 4px 7px!important;
}
.segment3 input[type="checkbox"]
{
	box-shadow:none;
}
