<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link id="main-sheet" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body class="" id="">


    <!-- =========================
     Section1 - Header   
============================== -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- Header Top -->
                <div class="col-md-12">
                    <div class="logo">
                        <a href="#">
                            <img alt="" src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/company.png">
                        </a>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/s1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/s2.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/s3.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /End Header Top -->
                <!-- Header -->
                <div class="col-md-12">
                    <h1><strong>CloudSoft</strong> - landing page.</h1>
                    <p>Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset mea cu.</p>
                    <div class="header-btn-holder">
                        <button>START MY DEMO</button>
                        <button class="signup-button pop-up">WATCH VIDEO</button>
                    </div>
                    <div class="browser">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/browser.png" alt="">
                        <div class="screen-shot">
                            <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/screenshot.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /End Header -->
            </div>
        </div>
    </div>

    <!-- =========================
 	 Section2 - Features
============================== -->
    <section id="feature">
        <div class="container">
            <div class="row">
                <h2>Discover how CloudSoft can help your business</h2>
                <div class="separator"></div>
                <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset
                    <br>mea cu, eum regione menandri definitionem no.</p>
                <!-- Feature Box -->
                <div class="col-sm-4">
                    <div class="feature-icon">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/icon1.png" alt="">
                    </div>
                    <h3>FEATURE ONE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh neque, convallis ut interdum a, consequat sit amet mauris.</p>
                </div>
                <!-- /End Feature Box -->
                <!-- Feature Box -->
                <div class="col-sm-4">
                    <div class="feature-icon">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/icon2.png" alt="">
                    </div>
                    <h3>FEATURE TWO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh neque, convallis ut interdum a, consequat sit amet mauris.</p>
                </div>
                <!-- /End Feature Box -->
                <!-- Feature Box -->
                <div class="col-sm-4">
                    <div class="feature-icon">
                        <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/icon3.png" alt="">
                    </div>
                    <h3>FEATURE THREE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh neque, convallis ut interdum a, consequat sit amet mauris.</p>
                </div>
                <!-- /End Feature Box -->
            </div>
        </div>
    </section>
    <!-- =========================
 Section3 - Benifit.
============================== -->
    <section id="benifit">
        <div class="container">
            <div class="row">
                <!-- Benifit Left -->
                <div class="col-md-7">
                    <h2>Discover how CloudSoft will simplify your life with ease of access.</h2>
                    <div class="separator"></div>
                    <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset mea cu, eum regione menandri definitionem no. Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem
                        lucilius.
                    </p>
                    <button>START MY DEMO</button>
                </div>
                <!-- /End Benifit Left -->
                <!-- Benifit Right -->
                <div class="col-md-5">
                    <div class="mobile-image">
                        <button class="pop-up">
                            <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/play.png" alt="">
                        </button>
                    </div>
                </div>
                <!-- /End Benifit Left -->
            </div>
        </div>
    </section>
    <!-- =========================
 Section3 - Comparison Chart
============================== -->
    <section id="comparison-chart">
        <div class="container">
            <h2>CloudSoft price comparison chart</h2>
            <div class="separator"></div>
            <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset
                <br>mea cu, eum regione menandri definitionem no.</p>
            <!-- Chart Box -->
            <div class="col-md-4 chart-box first">
                <h4>CloudSoft</h4>
                <div class="chart-price"><small>$</small>25</div>
                <h5>Per Month</h5>
                <ul class="chart-list">
                    <li>No subscription <strong>fees</strong>.</li>
                    <li>Use on <strong>any computer</strong> via internet.</li>
                    <li><strong>All updates</strong> are automatic.</li>
                    <li><strong>Free trail</strong> avaliable.</li>
                </ul>
            </div>
            <!-- /End Chart Box -->
            <!-- Chart Box -->
            <div class="col-md-4 chart-box second">
                <h4>OtherSoft</h4>
                <div class="chart-price"><small>$</small>45</div>
                <h5>Per Month</h5>
                <ul class="chart-list">
                    <li>Subscription fees.</li>
                    <li>Use on any computer via internet.</li>
                    <li>All updates are automatic.</li>
                    <li>Free trail avaliable.</li>
                </ul>
            </div>
            <!-- /End Chart Box -->
            <!-- Chart Box -->
            <div class="col-md-4 chart-box third">
                <h4>AnotherSoft</h4>
                <div class="chart-price"><small>$</small>55</div>
                <h5>Per Month</h5>
                <ul class="chart-list">
                    <li>Subscription fees.</li>
                    <li>Use on any computer via internet.</li>
                    <li>All updates are automatic.</li>
                    <li>Free trail avaliable.</li>
                </ul>
            </div>
            <!-- /End Chart Box -->
            <!-- Chart Box Bottom -->
            <div class="col-md-12 chart-bottom">
                <h3>Do you want to take a free trail for 30 days ?</h3>
                <button>YES START MY DEMO</button>
            </div>
            <!-- /End Chart Box Bottom -->
        </div>
    </section>
    <!-- =========================
 Section4 - Testimonials
============================== -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <h2>CloudSoft client testimonials</h2>
                <div class="separator"></div>
                <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset
                    <br>mea cu, eum regione menandri definitionem no.</p>
                <!-- Testimonial Box -->
                <div class="col-sm-6">
                    <div class="quote">
                        <div class="blue-arrow"></div>
                        <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset mea cu, eum regione menandri definitionem no. Soleat interesset mea cu, eum regione no. Omnis commodo consequat ei at,
                            at nam dolorem lucilius. Movet praesent postulant mea at, at nam dolorem lucilius.</p>
                    </div>
                    <div class="client_area">
                        <div class="client_image">
                            <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/img1.png" alt="">
                        </div>
                        <h3>Ronnie Nicol</h3>
                        <p>CloudSoft client</p>
                    </div>
                </div>
                <!-- /End Testimonial Box -->

                <!-- Testimonial Box -->
                <div class="col-sm-6">
                    <div class="quote green">
                        <div class="green-arrow"></div>
                        <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset mea cu, eum regione menandri definitionem no. Soleat interesset mea cu, eum regione no. Omnis commodo consequat ei at,
                            at nam dolorem lucilius. Movet praesent postulant mea at, at nam dolorem lucilius.</p>
                    </div>
                    <div class="client_area">
                        <div class="client_image">
                            <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/img2.png" alt="">
                        </div>
                        <h3>James Deck</h3>
                        <p>CloudSoft client</p>
                    </div>
                </div>
                <!-- /End Testimonial Box -->
            </div>
        </div>
    </section>
    <!-- =========================
 Section5 - Contact Us
============================== -->
    <section id="contact-us">
        <div class="container">
            <h2>Contact us at your convience</h2>
            <div class="separator"></div>
            <p>Omnis commodo consequat ei mea. Movet praesent postulant mea at, at nam dolorem lucilius. Soleat interesset
                <br>mea cu, eum regione menandri definitionem no.</p>
            <!-- Contact Box -->
            <div class="col-sm-6 contact-box">
                <h3>QUESTION ? CALL US.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh neque, convallis ut interdum a, consequat sit amet mauris. Vivamus sed tincidunt enim.</p>
                <h6>TOLL FREE: 123-456-7890</h6>
            </div>
            <!-- /End Contact Box -->
            <!-- Contact Box -->
            <div class="col-sm-6 contact-box contact-box-2">
                <h3>LIVE CHAT.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh neque, convallis ut interdum a, consequat sit amet mauris. Vivamus sed tincidunt enim.</p>
                <h6><a href="#">START A LIVE CHAT</a></h6>
            </div>
            <!-- /End Contact Box -->
        </div>
    </section>
    <!-- =========================
           Footer
============================== -->
    <footer>
        <div class="container">
            <div class="footer-logo">
                <a href="#">
                    <img src="https://s3.amazonaws.com/agilecrm/landing/cloud-soft/img/company2.png" alt="">
                </a>
            </div>
            <p>Copyright 2015 <span>CloudSoft</span>. Designed by CreativeCary.</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>

</html>