<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: rgb(235, 235, 235); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; line-height: 21px; color: rgb(0, 0, 0);">
<tbody><tr>
<td width="100%" id="primary" class="main demo" align="center" valign="top">
<div class="column ui-sortable" style="min-height:150px;">
<div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="8b8740e0-f3c2-6df1-0a0b-c6afe6fa340f" data-color="true">
<tbody>
<tr>
<td align="center" style="padding: 0px 50px;" class="image">
<a target="_blank" class="imgLink" href="http://"><img class="" border="0" data-maxwidth="520" align="one_image" style="display: block; max-width: 100px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/your-logo3.png" tabindex="0" width="100" height="100" id="3fc39461-3993-b987-255d-c939c239c499"></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-block"></div>
<label>Image</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="2e35471f-edb2-1969-ee8a-fabf0a937771" data-color="true">
<tbody>
<tr>
<td align="center" style="padding:15px 50px 15px 50px;" class="image">
<a target="_blank" class="imgLink" href=""><img class="" border="0" data-maxwidth="520" align="one_image" style="display: block; max-width: 520px;" alt="" src="https://agilecrm.s3.amazonaws.com/et/static/4/4-1.jpg" tabindex="0" width="520" height="520" id="2a8411bd-685e-0977-6721-0497f19c9d33"></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="5102f4c7-76f0-b623-e874-78ce85fe3675" data-color="true">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; line-height: 21px; color: rgb(0, 0, 0); outline: none;" class="textFix"><div style="text-align: justify;"><span style="font-size: 12px; font-family: helvetica, arial, sans-serif;"><span style="font-size: 14px;">The way businesses ship is changing. You can ship from home, drop ship right from your manufactuer, or outsource your fulfillment &mdash; and all are totally viable options for any brand. With more services to help you out, your shipping strategy has less to do with how much you ship and more to do with what's best for your customers and your bottom line.</span> </span></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;"><span style="font-size: 12px; font-family: helvetica, arial, sans-serif;"><span style="font-size: 14px;">Thanks to services like ShipBob, outsourced fulfillment has become a great option for brands of all sizes. <span style="text-decoration: underline;"><span style="color: #ff0000;"><a style="color: #ff0000; text-decoration: underline;" href="#" target="_blank">ShipBob told us all about how to outsource your shipping so you have more time to scale your brand.</a></span></span></span></span></div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="f26299fb-0604-ff91-f4b6-22d04d86869d" data-color="true">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-block"></div>
<label>Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="imgtxt" id="56bd2135-1121-24c5-f612-ef225d558ee1" data-color="true">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 10px 50px;">
<table class="image-in-table" cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
<tbody><tr>
<td>
<table cellspacing="0" cellpadding="0" border="0" align="left">
<tbody><tr>
<td valign="top" style="padding: 0px 10px 10px 0px;">
<a target="_blank" class="imgLink" href="http://"><img src="https://agilecrm.s3.amazonaws.com/et/static/4/4-2.jpg" style="display: block; max-width: 160px;" width="160" data-maxwidth="350" height="170" border="0" align="left" id="b6f01a18-16db-71e1-0014-85815ccfe359" alt=""></a>
</td>
</tr>
</tbody></table>
<div class="textFix" style="font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; line-height: 21px; outline: none;"><div style="text-align: justify;"><span style="font-family: helvetica, arial, sans-serif; font-size: 14px;"><strong>How to Ask Suppliers About Drop Shipping&nbsp;</strong></span></div>
<br>
<div style="text-align: justify;"><span style="font-size: 14px; font-family: helvetica, arial, sans-serif;">Drop shipping takes your product right from your manufacturer&nbsp;to your&nbsp;customer. People get their packages faster and simpler, but it's not for everyone.</span></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;"><span style="text-decoration: underline;"><span style="font-size: 14px; font-family: helvetica, arial, sans-serif; color: #ff0000;"> <a style="color: #ff0000; text-decoration: underline;" href="#" target="_blank">Here's what you need to know, and what you need to ask, to decide if drop shipping is right for your business.</a></span></span></div></div>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon divider-block"></div>
<label>Divider</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" style="border: 0px; background-color: rgb(255, 255, 255); display: table;" cellspacing="0" cellpadding="0" border="0" align="center" data-type="line" id="c210e7e1-5e89-9e59-37da-f416850858cb" data-color="true">
<tbody><tr>
<td class="divider-simple" style="padding: 15px 50px 0px 50px;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
<tbody><tr>
<td width="100%" height="15px"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon image-text-block"></div>
<label>Image+Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="imgtxt" id="02457973-27a5-4bb1-5c35-70481f98dfc9" data-color="true">
<tbody>
<tr>
<td class="image-text" align="left" style="padding: 10px 50px 20px;">
<table class="image-in-table" cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
<tbody><tr>
<td>
<table cellspacing="0" cellpadding="0" border="0" align="left">
<tbody><tr>
<td valign="top" style="padding: 0px 10px 10px 0px;">
<a target="_blank" class="imgLink" href="http://"><img src="https://agilecrm.s3.amazonaws.com/et/static/4/4-3.png" style="display: block; max-width: 160px;" width="160" data-maxwidth="350" height="170" border="0" align="left" alt="" id="803ec763-b088-fd68-913c-5eba90eb60b2"></a>
</td>
</tr>
</tbody></table>
<div class="textFix" style="font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; line-height: 21px; outline: none;"><p><strong><span style="font-size: 14px; font-family: helvetica, arial, sans-serif;">First-hand tips for shipping from home</span></strong></p>
<p style="text-align: justify;"><span style="font-family: helvetica, arial, sans-serif;"><span style="font-size: 14px;">We asked three successful business owners to divulge their must-have tools, supplies, and strategies to ship from home without sacrificing their space or their sanity.</span></span></p>
<p style="text-align: justify;"><span style="text-decoration: underline;"><span style="font-family: helvetica, arial, sans-serif;"><span style="font-size: 14px;"><span style="color: #ff0000;"><a style="color: #ff0000; text-decoration: underline;" href="#" target="_blank">Get some first-hand insight.</a></span></span></span></span><br><br><br></p></div>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon social-block"></div>
<label>Social Links</label>
</div>
<div class="view">
<div class="row clearfix">
<table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="a75921e7-8947-a2c7-8e87-7e65f86f8964" data-color="true">
<tbody>
<tr>
<td class="social" align="center" style="padding: 20px 50px 10px;">
<a href="https://www.facebook.com" style="border: none; text-decoration: none" class="facebook" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/facebook.png" width="35" height="35">
</a>
<a href="https://www.twitter.com" style="border: none; text-decoration: none" class="twitter" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/twitter.png" width="35" height="35">
</a>
<a href="https://www.linkedin.com" style="border: none; text-decoration: none" class="linkedin" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/linkedin.png" width="35" height="35">
</a>
<a href="https://www.youtube.com" style="border: none; text-decoration: none" class="youtube" target="_blank">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/youtube.png" width="35" height="35">
</a>
<a href="" style="border: none; text-decoration: none; display: none;" class="instagram">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/instagram.png" width="0" height="0">
</a>
<a href="" style="border: none; text-decoration: none; display: none;" class="pinterest">
<img border="0" src="https://s3.amazonaws.com/agilecrm/editor/email/staticfiles/pinterest.png" width="0" height="0">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; top: 0px; left: 0px;">
<a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
<span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
<span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="fa fa-clone"></i> </a> </span>
<div class="preview">
<div class="icon text-block"></div>
<label>Text</label>
</div>
<div class="view">
<div class="row clearfix">
<table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" align="center" data-type="text-block" id="95198825-cfba-cd07-b3e8-58e455a0abd4" data-color="true">
<tbody>
<tr>
<td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;">
<div style="margin: 0px 0px 10px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; line-height: 21px; outline: none;" class="textFix"><div style="text-align: center;">1234 Main Street, Anywhere, MA 01234, USA</div>
<div style="text-align: center;">Copyright &copy; 2016 <a href="#">agilecrm.com</a> all rights reserved.</div>
<div style="text-align: center;"><a href="{{{unsubscribe_link}}}">unsubscribe</a> | <a href="#">agilecrm.com</a> | care@agilecrm.com | +1 800 9800 729</div></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody></table>